<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/09/16732446163958.jpg" /></strong></span></span></p>

<p><font color="#696969"><span><b>우메다, 난바 그리고 고베를 잇는,<br />
한신 패스</b></span></font></p>

<p>한신 원데이 패스는 우메다, 난바에서 고베로 이동하는 여행자들을 위한 1일 패스예요. 한신 패스 한 장만 있어도 고베에서 예쁜 야경을 보고 다시 돌아와 난바에서 맛있는 음식을 먹을 수 있답니다. 한신 난바선을 타고 오사카 (난바, 우메다)에서 고베 산노미야까지 1일 동안 왕복으로 다녀올 수 있어요.&nbsp;한신 패스 한 장으로 난바, 우메다는 물론 고베 산노미야의 매력적인 여행지를 만나보세요.</p>

<p><br />
<font color="#696969"><span><b>이용 가능 구간 안내</b></span></font></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/09/02/17567846982530.jpg" /></p>

<p><b>✅ 한신 1일권 이용 가능역</b> <b>(고베고속선 제외)<br />
한신 본선</b><br />
고베 산노미야 (神戸三宮)<br />
가스가노미치 (春日野道)<br />
이와야 (岩屋)<br />
니시나다 (西灘)<br />
오이시 (大石)<br />
신사이케 (新在家)<br />
나다 (灘)<br />
미카게 (御影)<br />
스미요시 (住吉)<br />
우오자키 (魚崎)<br />
아오키 (青木)<br />
후카에 (深江)<br />
아시야 (芦屋)<br />
우치데 (打出)<br />
코로엔 (香櫨園)<br />
이마즈 (今津)<br />
쿠스가와 (久寿川)<br />
고시엔 (甲子園)<br />
나라오・무코가와 여자대학앞 (鳴尾・武庫川女子大前)<br />
무코가와 (武庫川)<br />
아마가사키 (尼崎)<br />
데야시키 (出屋敷)<br />
아마가사키 센터풀앞 (尼崎センタープール前)<br />
무코가와 단지앞 (武庫川団地前)<br />
쿠이세 (杭瀬)<br />
지부네 (千船)<br />
히메지마 (姫島)<br />
노다 (野田)<br />
요도가와 (淀川)<br />
후쿠시마 (福島)<br />
오사카 우메다 (大阪梅田)</p>

<p><b>한신 난바선&nbsp;</b><br />
아마가사키 (尼崎)<br />
다이모쓰 (大物)<br />
데키지마 (出来島)<br />
후쿠 (福)<br />
니시쿠조 (西九条)<br />
치도리바시 (千鳥橋)<br />
덴포 (伝法)<br />
오사카 난바 (大阪難波)</p>

<p><br />
<span><span><strong>WAUG에서 구입해야 하는 이유</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/09/16732451635571.jpg" /></strong></span></span></p>

<p>WAUG는 한신 원데이&nbsp;패스의 한국 공식 파트너로 <strong>가장 저렴한 가격에 한신 패스를 구입할 수 있어요. </strong>실물 티켓으로 교환할 필요 없이 스마트폰만 챙겨서&nbsp;한신 패스와 함께 더 편하고 재미있는 오사카, 고베 여행을 즐겨보세요!</p>
