<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/09/19/16951073933439.png" /></p>

<p><span><span><strong>한 장의 지하철 패스로 오사카 정복!<br />
지하철, 뉴트램 버스까지 2일 동안 자유롭게!</strong></span></span><br />
<br />
오사카 메트로패스는 오사카 시영 지하철과 뉴트램 그리고&nbsp;버스를 하루 <strong>혹은</strong> 2일 동안&nbsp;무제한으로 이용할 수 있는 패스예요. 그래서 매번 티켓을 구매해야 하는 번거로움 없이 아주 빠르고 편하고 편리하게 오사카의 인기 명소를 방문할 수 있어요. 또한 무제한 교통 뿐만 아니라&nbsp;우메다 스카이빌딩, 츠텐카쿠 타워, 오사카성 박물관 등 다양한 명소를 할인 받아 입장할 수 있어 정말 유용해요. 할인 가능한 시설을 미리 확인한 후 오사카 여행을 떠나보세요. <a href="https://subway.osakametro.co.jp/en/guide/page/waribiki_ichiran.php"><strong>바로가기</strong></a></p>

<p><br />
<span><span><strong>할인 여행지&nbsp;소개</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2019/01/24/15483203526326.png" /></p>

<p>오사카 메트로패스로 할인 받을 수 있는 여행지를 소개할게요!</p>

<p><span><strong>10% 할인 가능한 주요 여행지 :</strong></span><br />
오사카성 천수각, 우메다 스카이빌딩 공중정원 전망대, 오사카 덴노지 동물원, 시텐노지 절, 키즈플라자 오사카, 스파월드, 아쿠아라이너, 나가이 식물원코노하나 칸 사쿠야 등</p>

<p><span><strong>20% 할인 가능한 주요 여행지 :</strong></span><br />
오사카 과학관, 덴포잔 대관람차, 오사카 수상버스, 오사카 동양도자기 미술관, 캡틴라인, 오사카성 니시노마루 정원 등</p>

<p>현지 상황에 따라 시설사 내용은 변경될 수 있으니, 더 자세한 할인 여행지를 직접 확인해보세요. <a href="https://subway.osakametro.co.jp/en/guide/page/waribiki_ichiran.php">바로가기</a></p>

<p><br />
<span><span><strong>오사카 메트로 노선도 안내</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/05/14/17472108802446.jpg" /></p>

<p>오사카 메트로의 노선도에요. <a href="https://subway.osakametro.co.jp/guide/page/osakametro_routemap_d/routemap_2025.pdf">노선도 자세히 보기</a><br />
오사카 시티버스의 노선도는 <a href="https://bus.osakametro.co.jp/ko/guide/routemap.php">공식 홈페이지</a>에서 확인할 수 있어요.</p>

<p><br />
<span><span><strong>꼭, WAUG에서 구입해야 하는 이유</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/09/19/16951066510927.jpg" /></p>

<p>WAUG는 오사카 메트로의 <strong>공식 파트너로 가장 저렴한 가격에 오사카 지하철패스를 구입할 수 있어요</strong>. 또한 구매 즉시 바로 교환할 수 있는 e-Ticket이 제공되기 때문에 언제든 원할 때 구입해 바로 이용할 수 있어요!</p>
