<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/06/16860326241469.jpg" /></p>

<p><span><span><strong>내가 직접 만들어 먹는,<br />
타코야키&nbsp;타코노테츠</strong></span></span></p>

<p>쫄깃한 문어와 반죽 그리고 사스오부시 소스가 곁들여진 타코야키는 일본 여행에서 반드시 맛봐야 해요. 오늘 소개하는 타코노테츠는 내가 직접 타코야끼를 만들어 먹을 수 있는 독특한 매장이에요.</p>

<p>타코야끼를 직접 만들어보는 체험을 할 수 있&nbsp;뿐만 아니라 오코노미야끼, 돼지 야끼소바, 디저트까지 맛볼 수 있기 때문에 든든한 한끼 식사를 할 수 있어요.&nbsp;</p>

<p><br />
<span><span><strong>만드는 방법을 소개해요</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/06/16860328009179.jpg" /></strong></span></span></p>

<p>동그란 홈이 파져있는 철판위에 반죽을 올리고 그 위에 문어다리를 살포시 얹어주세요. 그 위에 반죽을 또 올리고 철판을 닫아주세요. 적당히 익었을 때쯤 판을 열어 그릇에 옮긴 다음 본인의 취향에 맞게 가쓰오부시, 데리야끼 소스를 뿌린 다음 맛있게 드시면 됩니다.</p>

<p>요리를 못한다고, 언제까지 익혀야 할까 걱정하지 않으셔도 됩니다. 친절한 현지 직원분들이 도와주실 거예요.&nbsp;문어다리가 싫다면 치즈 또는 다양한 해산물을 넣어 먹을 수 있고 생강, 소스를 넣고싶은 만큼 넣을 수 있어요.</p>

<p><br />
<span><span><strong>전문가가 만드는 오코노미야키를 즐기세요!</strong></span></span></p>

<p><img src="https://d2mgzmtdeipcjp.cloudfront.net/files/good/2019/07/02/15620622419307.png" /></p>

<p>직접 타코야키를 만들어 먹고, 오코노미야키는 전문가가 만드는 진짜 맛을 경험 할 수 있어요. 치즈 오징어, 해산물이 더해진 맛있는 오코미야키가 포함되어 있어요.</p>

<p><br />
<span><span><strong>선택 가능 옵션 소개</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/06/16860329281222.jpg" /></strong></span></span></p>

<p><span><strong>1. 2명 코스 ;</strong></span><br />
타코야키 1인분<br />
돼지 야끼소바<br />
오코노미야끼(치즈, 오징어, 해산물 등)<br />
디저트(연유딸기&nbsp;아이스 2개)<br />
소프트드링크(콜라/진저엘/메론소다/칼피스워터/칼피스소다) 1잔</p>

<p><span><strong>2. 3명 코스 :</strong></span><br />
타코야키 2인분<br />
돼지 야끼소바(대 사이즈)<br />
오코노미야끼(치즈, 오징어, 해산물 등, 대 사이즈)<br />
디저트(연유딸기 아이스 3개)<br />
소프트드링크(콜라/진저엘/메론소다/칼피스워터/칼피스소다/오렌지주스/자몽주스/우롱차) 1잔</p>

<p><span><strong>3. 4명 코스 :</strong></span><br />
타코야키 3인분<br />
돼지 야끼소바<br />
돼지 야키우동<br />
오코노미야끼(치즈, 오징어, 해산물 등, 대 사이즈)<br />
디저트(연유딸기 아이스 4개)<br />
소프트드링크(콜라/진저엘/메론소다/칼피스워터/칼피스소다/오렌지주스/자몽주스/우롱차) 1잔</p>
