<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/24/16875945453913.jpg" /></p>

<p><span><span><strong>오사카 스타일의<br />
일본 전통 가이세키를 맛보다</strong></span></span></p>

<p>미슐랭 원스타에 빛나는 오사카 운가쿠 레스토랑을 방문해 보세요! 오사카 스타일의 일본 전통 요리를 맛볼 수 있는&nbsp;운카쿠는 독특한 요리 방법으로 일본에서&nbsp;많은 인기를 얻고 있는 가이세키 맛집이에요. 특히 클래식 코스 또는 디럭스 코스를 선택하면 만날 수 있는 특별한 도미 생선 요리는 운카쿠에서 절대 놓치면 안 되는 메뉴예요. 바로 이 생선 요리가 운카쿠의 메인인, 노자키 야키라는 이름으로 불리는 것으로 약 7시간 동안 약불로 구운 생선 요리예요. 오일을 발라 오랜 시간 구운 생선은 머리부터 꼬리까지 다 먹을 수 있을 정도로 부드럽다고 해요.</p>

<p><br />
<strong><span><span>소박하지만 전통이 있는 내부</span></span></strong></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/24/16875946835272.jpg" /></p>

<p>오사카 운가쿠의 내부는 크고 화려하지는 않지만 소박하고 쉐프가 요리하는 것을 언제든 볼 수 있는 오픈형 주방으로 되어 있어요. 일본 전통 가이세키 레스토랑 느낌으로 한 잔 술과 함께 스몰 디시로 제공되는 정성 가득한 요리를 즐길 수 있어요.</p>

<p><br />
<strong><span><span>예술에 가까운 요리</span></span></strong></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/24/16875948178621.jpg" /></p>

<p>오사카 운가쿠의 요리는 하나의 작품 같아요. 신선한 일본산 제철 식재료 사용은 물론&nbsp;효고현에서 공수한 &ldquo;황새 자라는 쌀&rdquo;을 사용해 밥도 정말 맛있어요. 특히&nbsp; 약 7시간 동안 약불로 구운 생선 요리인&nbsp;도미 생선 요리는 운카쿠에서 절대 놓치면 안 되는 메뉴예요.</p>
