<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/24/16875936493534.jpg" /></p>

<p><span><span><strong>스키야 건축 가옥에서 즐기는<br />
진짜 일본 가이세키</strong></span></span></p>

<p>일본 전통 가옥 양식인 스키야 건축으로 지어진 아지킷쵸 분부안에서 가이세키 요리를 즐겨보세요! 자연수목과 이끼, 자연석으로 꾸며져 있어 도심에서 자연을 느낄 수 있어요. 게다가 돌담, 일본 전통 종이를 사용한 인테리어를 통해 일본의 아름다음을 느낄 수 있어요.</p>

<p>이러한 우아한 분위기 속에서 예쁜 스몰 디시로 이어지는 일본식 가이세키 요리를 즐길 수 있어요. 특히&nbsp;아지킷쵸 분부안에서는&nbsp;계절이 주는 진미를 맛 볼 수 있어요.</p>

<p><br />
<span><span><strong>깔끔하고 고급스러운 인테리어</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/24/16875937404258.jpg" /></p>

<p>일본 전통 가옥 양식인 스키야 건축으로 지어진&nbsp;아지킷쵸 분부안의 내부는 평범한 것 같으면서도 깔끔하고 고급스러워요. 그래서 소중한 사람과 함께 하기에 좋은 공간이에요.&nbsp;</p>

<p><br />
<span><span><strong>매일 달라지는 제철 요리</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/24/16875939946049.jpg" /></p>

<p>아지킷쵸 분부안의 음식은&nbsp;쇼와 45년에 다이마루 신사이바시점에 개점 이래, 상향 요리의 진수를 계승한 맛을 지금까지 고수하고 있어요.&nbsp;아지킷쵸 분부안의 가이세키는 풍부한 맛, 섬세한 맛 그리고 소중한 분과 즐기는 함께하는 행복을 느낄 수 있게 모든 음식에 정성을 다하고 있어요.</p>
