<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/25/16746350398009.jpg" /></p>

<p><span><span><strong>전국패스 하나로 일본 전역을,<br />
자유롭게 여행해보세요</strong></span></span></p>

<p>JR 전국패스 한 장으로 나만의 일본 전역 여행을 완성해보세요. JR 전국패스 한장이면&nbsp;JR 신칸센(노조미, 미즈호 제외), 특급열차, 급행열차, 쾌속열차, 보통열차 및 BRT 열차 무제한 탑승은 물론&nbsp;JR버스회사의 각 로컬선인&nbsp;JR홋카이도버스, JR버스 도호쿠, JR버스 간토, JR도카이도 버스, 서일본 JR버스, 주고쿠 JR버스, JR시코쿠버스, JR큐슈버스도 탈 수 있어요.</p>

<p>또한 미야지마에서&nbsp;JR서일본 미야지마 페리도 탈 수 있답니다. 나의 일정대로 즐기는 편한 일본 전국 여행 와그의&nbsp;JR 전국패스와 함께 시작해보세요.</p>

<p><br />
<span><span><strong>JR 패스를 자세히 소개해요</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/25/16746351691882.jpg" /></p>

<p>JR은 한국으로 치면 코레일이라고 생각하면 돼요. JR은 주로 철도와 버스, 페리를 보유하고 있는 회사인데, 민영화가 되어 현재 6개 회사로 분리되어 각 지역을 담당하고 있어요.&nbsp;그래서 JR 동일본, JR 서일본, JR 홋카이도, JR 큐슈 이렇게 각각의 회사로 나뉘어서 자기가 맡은 지역의 교통을 담당하고 있죠.&nbsp;</p>

<p>하지만 JR 전국패스는 큐슈부터 홋카이도까지 모든 JR 교통편을 다 이용할 수 있어요. 즉, 6개 회사가 통합해서 만든 패스권인 셈이죠.</p>

<p><br />
<span><span><strong>전국 어디든 여행할 수 있어요</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/25/16746353669861.png" /></p>

<p>한 장의 패스권으로 전국 JR을 모두 이용하며 일본 전역을 일주할 수 있어요. 하카타 역에서 시작해, 오사카, 도쿄, 나고야를 만나고 홋카이도까지 한 장의 패스로 모두 다닐 수 있어요.&nbsp;</p>

<p>그래서 일본 일주 여행을 하는 분들이라면 반드시 필요한 패스권이 바로 JR 전국패스랍니다.</p>

<p><br />
<span><span><strong>JR의 모든 교통편 다 이용 가능한가요?</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/25/16746355356724.jpg" /></strong></span></span></p>

<p>JR에서 운영하는 교통편은 다 이용할 수 있어요. 전국의 JR선은 모두 이용 가능하고, 심지어 신칸센과 재래선 열차까지 다 포함돼요. 물론 페리와 JR이 운영하는 버스도 모두 탑승 가능해요. JR 전국패스는 이용 범위가 진짜 넓기 때문에 아래의 몇 가지만 조심하면 돼요.</p>

<p><strong>1. 신칸센 모든 열차 지정석 이용 가능 :</strong><br />
단, 도카이도 - 산요 신칸센 &quot;노조미&quot; / 산요 - 큐슈 신칸센 &quot;미즈호&quot; 이 두 개는 지정석 이용이 불가해요.</p>

<p><strong>2. 모든 특급 열차 지정석 이용 가능 :</strong><br />
단,&nbsp;관광 상품으로만 탑승 가능한 특수한 관광 열차는 탈 수 없어요.</p>

<p><strong>3. 침대 열차의 침대칸 이용하려면? :</strong><br />
JR 전국패스의&nbsp;특급권 + 침대권을 추가로 구매해야해요. 현장에서 구입 가능해요.</p>

<p><strong>4.&nbsp;라이너권이 필요한 통근 라이너 열차 (시즈오카현 내 라이너 등) 는 라이너권을 추가로 구입해야해요.</strong></p>

<p><strong>5.&nbsp;JR 니시니혼 신쾌속 열차의 착석 서비스 &ldquo;A 시트&rdquo; 는 추가 요금이 필요해요.</strong></p>

<p><strong>6. JR의 시내 버스 탑승 가능 :</strong><br />
단,&nbsp;고속버스는 불가능</p>

<p><strong>7. JR이 운영하지 않는 모든 지하철, 열차 노선 이용 불가능 :</strong><br />
단,&nbsp;하네다공항 &ndash; 하마마츠쵸 간 &ldquo;도쿄 모노레일&rdquo;은 이용 가능해요.</p>

<p>생각보다 어렵지 않죠? 아주 간단해요. JR이 붙은 모든 것은 이용 가능하다고 생각해도 될 정도예요.</p>

<p><strong>하지만!</strong> 만약 패스의 범위를 넘었다면? :<br />
도착역 개찰구에서 추가 요금을 정산하면 되기 때문에 너무 걱정하지 않아도 돼요.&nbsp;</p>

<p><br />
<span><span><strong>와그에서 받은 패스권, 교환하는 방법을 소개해요</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/25/16746359628086.jpg" /></p>

<p>와그에서 택배로 보내드리는 티켓은 현지에서 교환 후 사용해야 해요. 다만, 해당 패스는 JR 전국패스인만큼 교환처가 일본 전역에 있어요. 여러분이 어디에서 여행을 시작할지 알기 어렵기 때문에 주요 교환처를 소개하기는 어려워요.&nbsp;</p>

<p>도쿄에서 시작한다면, 도쿄역, 우에노역, 신주쿠, 시부야역에 교환처가 있고, 오사카에서 시작한다면 간사이 공항역, 오사카역, 신오사카역에 교환처가 있어요. 해당 패스가 JR 패스다보니 주로 왠만한 역에서는 다 교환이 가능해요.</p>

<p>일본 전역의 교환처를 한 번에 미리 확인하고 어디에서 교환할지 정하고 여행을 시작하는 것을 추천해요. <a href="https://japanrailpass.net/exchange.html">모든 교환처는 여기로 이동</a>해 볼 수 있어요.</p>

<p><br />
<span><span><strong>지정석&nbsp;예약하는 방법을 소개해요</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/25/16746364066928.jpg" /></strong></span></span></p>

<p>JR 전국패스를 수령했다면 그 다음은 지정석을 예약해야 할 차례에요. 지정석 예약하는 방법은 총 2가지입니다.&nbsp;</p>

<p><strong>1. JR 티켓 카운터에서 직원에게 의뢰하기 :</strong><br />
JR 패스와 여권을 매표소 직원에게 보여주고, 날짜, 출발/도착, 기차명, 흡연석 등 정보를 알려주고 지정 좌석 확정할 수 있어요.</p>

<p><strong>2. 지정석 승차권 발매기에서 확정하기 :</strong><br />
교환 받은 JR 전국패스는 기계 판독형으로 업그레이드 되어서 이제는 지정석 승차권 발매기에서 좌석 예약이 가능해요. 자세한 설명을 보려면 <a href="https://www.jreast.co.jp/e/downloads/pdf/mv_operation_e.pdf">다운로드</a> 해주세요!</p>

<p><br />
<span><span><strong>열차 타는 방법을 소개해요</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/25/16746368371877.jpg" /></strong></span></span></p>

<p>JR 전국패스는 단순한 종이 패스이기 때문에 개찰구에 티켓을&nbsp;넣을 수 없어요. 그래서 탑승시 유인 개찰구 (사이드에 있는 개찰구)에서 역무원에게 JR 전국패스를 보여준 후 승강장으로 입장이 가능해요.&nbsp;</p>

<p><strong>주의할 점!</strong> 일반 열차 개찰구와 신칸센 개찰구는 다르니 사전에 꼭 확인해야 해요. 한국어 간판이 잘 되어 있어 크게 어려움은 없어요!&nbsp;&nbsp;</p>

<p><br />
<span><span><strong>와그에서 패스를 구입해야 하는 이유</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/25/16746369927648.jpg" /></strong></span></span></p>

<p>와그는 일본 JR의 <strong>한국 공식 파트너</strong>로 가장 저렴한 가격에 JR 전국패스를 판매하고 있어요. <strong>일본 현장보다 저렴하며, 안전하게 집으로 택배 배송</strong>해 드린답니다.</p>

<p>와그에서 받은 패스권은 교환권으로 현지에서 여행을 시작할 때 한 번 교환해야 한다는 사실만 잊지마세요!</p>
