<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/09/07/16940480586015.jpg" /></p>

<p><span><span><strong>최상급의 야키니쿠를<br />
풍성하게&nbsp;즐겨요</strong></span></span></p>

<p>최고의 야키니쿠를 맛보고 싶다면 단연&nbsp;야키니쿠야 다이보쿠조를 추천해요. <strong>셰프가 엄선한 A5 등급의 소고기</strong>를 경험할 수 있어요. 게다가 고기와 함께 신선한 해산물 그리고 중국식 계란탕 등등 다양한 메뉴가&nbsp;함께 나오는 코스이기&nbsp;때문에 든든하게 식사할 수 있어요.&nbsp;<br />
<br />
야키니쿠야 다이보쿠조에서 선보이는 A5 등급의 와규는 일본의 고기 등급 중<strong> 가장 높은 등급</strong>으로 <strong>부드러운 육질</strong>과 <strong>입안에서 퍼지는 풍미</strong>를 느낄 수 있어요. 지금 와그를 통해&nbsp;풍부한 마블링이 예술인&nbsp;A5 등급의&nbsp;고기를 직접 맛보세요.</p>

<p>&nbsp;</p>

<p><span><span><b>선택 가능한 코스</b></span></span></p>

<p><span><span><b><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/09/07/16940489425407.jpg" /></b></span></span></p>

<p><strong>쿠로게와규 무제한 뷔페 + 음료 무제한</strong><br />
쿠로게와규(모듬/소삼겹[소금 또는 시그니처 소스]/어깨살[소금 또는 시그니처 소스]/살코기[소금 또는 시그니처 소스]/스키야키/츠보즈케/소곱창[시그니처 소스]), 횡격막류, 돼지고기류, 닭고기류, 내장류, 해산물(오징어, 새우, 가리비, 해물 플래터), 전채, 샐러드, 야채류, 각종 일품요리, 면/밥류, 디저트류(택1)</p>

<p><strong>프리미엄 쿠로게와규 무제한 뷔페 + 음료 무제한</strong><br />
프리미엄(우설[소금]/파 우설[소금]/어깨살 스테이크/횡경막 스테이크/살코기 스테이크/소 천엽/전복구이 1인당 1개), 흑모와규, 횡격막, 돼지고기/닭고기류, 내장류, 해산물(오징어, 새우, 가리비, 해산물 플래터), 전채, 샐러드, 야채, 각종 일품요리, 면/밥, 디저트(택1)</p>

<p><strong>고베규 무제한 뷔페 + 음료 무제한</strong><br />
고베규(두껍게 썬 우설/살코기/츠보즈케/성게, 연어알, 캐비어를 곁들인 쇠고기/연어알을 곁들인 계란찜/가리비/한식구이스테이크/어깨살/츠보파인애플절임), 프리미엄, 흑모와규, 횡격막, 돼지고기/닭고기류, 내장류, 해산물(오징어, 새우, 가리비, 해산물 플래터), 전채, 샐러드, 야채, 각종 일품요리, 면/밥, 디저트(택1)</p>

<p><strong>다이보쿠조 셀렉트 세트 + 음료 무제한</strong><br />
전채 3종, 특선 우설, 특선 소갈비, 특선 쇠고기 안심, 특선 살코기, 레어 부위, 해산물(가리비 1개, 새우 1개, 전복 1개), 로스트 비프 샐러드, 밥, 계란탕, 디저트 (택1)</p>
