<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2019/02/06/15494419484415.png" /></p>

<p><span><span><strong>탁 트인 루프탑 옥상에서 만나는,<br />
오사카의 전망</strong></span></span></p>

<p>아베노 스카이 빌딩 옥상에 위치한 헬리포트를 경험해보세요. 지상 300m 빌딩 최정상에서 불어오는 바람을 느끼며 360도 탁 트인 전망을 즐길 수 있습니다. 계단을 올라 도착한 헬리포트는 아무런 방해없이 오사카 도심을 한 눈에 담을 수 있는 최고의 장소입니다. 낮에는 파란 하늘을 배경으로 청아한 아름다움을 선물하고, 밤에는 숨 막히도록 반짝이는 도심 뷰를 선물하는 낭만적인 장소이며, 다이나믹 시티 오사카를 360도로 감상해볼 수 있고, 옛 도읍 교토부터 고배, 롯코산맥 등 간사이의 주요 지역을 전망할 수 있어요.</p>

<p>서쪽으로 태양이 저물고 요도가와강, 오사카만이 황금색에서 점차 붉은 빛으로 물들기 시작하면 황혼의 절경이 펼쳐집니다. 서쪽으로는 노을빛이, 반대편 동쪽으로는 한발 빠른 어둠이 펼쳐지고, 불빛이 켜지기 시작합니다. 해가 모두 저물면, 바다와 능선이 완만한 산에 둘러싸인 마치 보석상자 같은 오사카의 야경이 펼쳐집니다.</p>

<p>입장권을 별도 구매해야 하루카스 300에 올라갈 수 있으니 <a href="https://www.waug.com/goods/104193">하루카스 300 입장권</a> 과 헬리포트투어를 모두 예약하고 오사카의 환상적인 풍경을 즐겨보세요.<br />
&nbsp;</p>

<p><span><span><strong>아베노 하루카스로 이동하는 법을 추천해요</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/15/16737685849395.jpg" /></p>

<p>보통 오사카 여행을 가면 도톤보리 난바, 우메다 지역의 호텔을 많이 이용하기 때문에 여기를 기준으로 가는 방법을 알려드릴게요.&nbsp;</p>

<p>1. 난바 역에서 미도스지선 (플랫폼 1) 탑승해 텐노지 역 하차 후 도보 3분 이동</p>

<p>2. 우메다에 보라색 타니마치선 혹은 빨간색 미도스지선을 타고 텐노지 역으로 이동 후 도보 3분</p>

<p><br />
<span><span><strong>아베노 하루카스 언제 가는 것이 가장 좋을까?</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/15/16737689803434.jpg" /></p>

<p>아베노 하루카스 300 전망대는 사실 언제가도 날씨만 좋으면 환상적인 전망을 볼 수 있는데요. 그럼에도 로얄 타임은 존재해요. 바로 오후 17:00 입장 타임입니다. 이 때 입장하면 선셋부터 야경까지 알차가 오사카의 뷰를 볼 수 있어요.&nbsp;</p>

<p>아베노 하루카스는 오전 09:00 - 밤 22:00까지 운영하기 때문에 입장 후 볼 수 있는 시간도 충분해요.&nbsp;</p>

<p><br />
<span><span><strong>구석구석 하루카스를 살펴봐요</strong></span></span></p>

<p><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/15/16737692759232.jpg" /></strong></p>

<p>아베노 하루카스 전망대는 58층부터 60층까지 총 3개 층으로 이뤄져 있어요. 한 번 왔는데 층별로 구석구석 살펴봐야겠죠?</p>

<p><strong>58 - 59층 : 가든 오브 더 스카이</strong></p>

<p><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/15/16737693979972.jpg" /></strong></p>

<p>58층은 넓은 목재 데크 공간이 있어요. 위의 하늘이 완전히 개방된 형태이기 때문에 신선한 공기 속에 음식과 음료를 즐길 수 있어요. 58층 최고의 포토존은 바로 트윈 타워인데 두 개의 타워 사이에 비치는 아름다운 선셋은 꼭 봐야해요.&nbsp;59층에 위치한 샵 하루카스 300에서는 오사카 하루카스의 아이코닉! 노벨티 굿즈를&nbsp;만날 수 있어요.</p>

<p><strong>60F : 360도 유리 전망대</strong></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/15/16737696011216.jpg" /></p>

<p>60층은 바닥부터 천장까지 모든 벽이 전부 유리로 된 실내 갤러리예요. 지상 300m의 높이에서 오사카의 환상적인 전망을 볼 수 있고, 바닥이 유리로 되어 있어 마치 공중을 걷는 것 같은 경이로운 느낌을 받을 수 있어요.&nbsp;</p>

<p><br />
<span><span><strong>새로운 세상을 경험해보세요</strong></span></span></p>

<p><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/15/16737697639927.jpg" /></strong></p>

<p>오사카 하루카스는 16층 입구에서 엘리베이터를 타고 지상 288m 높이까지 올라가는데요. 이 때 엘리베이터가 변하는(?) 모습이 마치 새로운 세상에 온 것 같은 느낌을 전해줘요.&nbsp;</p>

<p>별이 빛나는 밤 하늘로 날아가는 활주로에서 막 이륙하는 느낌인데, 단 50초 만에 정상까지 빠르게 올라간답니다. 이후 엘리베이터의 문이 열리는 순간 환상적인 풍경이 눈 앞에 펼쳐질거예요.</p>

<p><br />
<span><span><strong>화장실을 꼭 가봐야 해요</strong></span></span></p>

<p><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/15/16737698925256.jpg" /></strong></p>

<p>아베노 하루카스 300은&nbsp;화장실이 최고의 포토존이라는 이야기가 있을 정도로 예쁘게 되어 있어요. 360도 통유리로 되어 있는 화장실의 모서리 공간에서 가장 예쁜 사진을 찍기 좋아요. 여러분이 인스타그램에서 멋진 아베노 하루카스 사진을 보고 &quot;도대체 여기가 어디지?&quot; 했던 곳이 바로 화장실이랍니다.</p>

<p><br />
<span><span><strong>스카이 가든 300 레스토랑은 꼭 가보세요</strong></span></span></p>

<p><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/15/16737704636858.jpg" /></strong></p>

<p>오사사 마부장님이 다녀갔던 바로 그 레스토랑이 58층에 위치한 스카이 가든 300이에요. 아메리칸 캐주얼 레스토랑으로 스파게티와 같은 메뉴부터 현지 식재료를 활용한 다양한 메뉴와 시원한 맥주, 와인을 맛볼 수 있어요. 카페이기도 하기 때문에 커피도 즐길 수 있어요.&nbsp;<br />
&nbsp;</p>

<p><span><span><strong>WAUG에서 티켓을 구입해야 하는 이유</strong></span></span></p>

<p><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/15/16737708969579.jpg" /></strong></p>

<p>WAUG는 아베노 하루카스 300의 <strong>공식 파트너로 믿을 수 있는 안전한 티켓을 실시간으로 제공</strong>하고 있어요. 그래서 현장보다 저렴한 가격에 구매 즉시 사용할 수 있어요. 또한 헬리포트 존 입장 티켓도 판매하고 있답니다.</p>

<p>WAUG에서 예약하고 아름다운 오사카를 한 눈에 바라볼 수 있는 하루카스 300에서 환상적인 시간을 보내보세요.</p>
