<p><img src="https://d2mgzmtdeipcjp.cloudfront.net/files/good/2019/06/18/15608415912369.png" /></p>

<p><span><span><strong>간사이 공항에서 오사카로,<br />
공항에서 교토로 바로 이동</strong></span></span></p>

<p>간사이 공항부터 교토 시내와 오사카까지! 하루카 특급&nbsp;열차와 함께 가장 빠르고 편한 방법으로 이동해보세요. 하루카 특급 열차를 이용하면 오사카에 들르지 않고, 교토로 바로 이동할 수 있어 정말 빠르게 이동할 수 있어요. (2023년 3월 18일부터 오사카 역 정차)</p>

<p>하루카 특급 열차는 공항에서 교토 혹은 오사카 시내까지 이동하는 가장 빠른 방법이기 때문에 오사카를 바로 여행하는 분들이 이용하기에도 좋아요. 예약 전 하루카 특급 열차의 코스를 미리 확인해보세요. <a href="https://www.westjr.co.jp/global/en/timetable/">자세히 보기&nbsp;</a></p>

<p><br />
<span><span><strong>가장 쉬운, 티켓 교환 방법</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/14/16737032728190.jpg" /></strong></span></span></p>

<p>간사이 공항에 도착했다면, 이제 와그에서 받은 바우처를 실제 하루카 특급열차 티켓으로 교환해야 해요. 아래의 순서대로 하면 전혀 어렵지 않으니 걱정하지마세요.</p>

<p>1.&nbsp;여권과 모바일 바우처를 준비해주세요.<br />
2.티켓 발권기 상위 메뉴에서 언어를 선택해주세요. (영어, 중국어, 한국어 지원)<br />
3. &quot;예약 티켓 찾기 (Recieve reserved ticket)&quot; 선택<br />
4. &quot;재팬 패스로 교환하기&quot; 선택<br />
5. <a href="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2019/06/13/15603933374074.GIF">정확한 위치</a>에 모바일 바우처 QR코드를 스캔해주세요.&nbsp;<br />
6. 패스 개시일을 선택해주세요. (최대 1개월 후의 날짜까지 선택 가능)<br />
7. 패스 수령 자격 및 개인정보에 대한 정보에 동의를 눌러주세요. (총 2개의 문항)<br />
8. <a href="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2019/06/13/15603934648145.GIF">정확한 위치</a>에 전자 여권을 스캔해주세요. (전자 여권이 아닌 경우 스캔이 불가하여 직접 수령)<br />
9. 확인 페이지에서 상품을 확인하고 레일 패스를 수령해주세요.&nbsp;</p>

<p>티켓 수령 방법을 이미지로 보고 싶다면?&nbsp;<a href="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2019/06/13/15603975437000.png">자세히 보기&nbsp;</a><br />
공식 홈페이지에서 사용 방법 보러 가기! <a href="https://www.westjr.co.jp/global/kr/howto/guide/emco/">자세히 보기</a></p>

<p>&nbsp;</p>

<p><span><span><strong>간사이 공항에서 하루카 열차 타는 방법</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/14/16737028422352.jpg" /></strong></span></span></p>

<p>티켓을 교환했다면 이제 진짜 탑승하러 가야겠죠? 한국에서부터&nbsp;내가 과연 공항에서 하루카 특급열차를 잘 탈 수 있을까? 걱정이 많으실거예요. 하지만 공항에 하루카 특급열차 타는 곳이 이어져 있어서 누구나 어렵지 않게 찾을 수 있어요.</p>

<p><span><strong>이동 순서 확인하기 :</strong></span><br />
1.&nbsp;공항에서 에스컬레이터 타고 2층으로 올라가기<br />
2.&nbsp;2층에서&nbsp;게이트 B 확인하기<br />
3.&nbsp;교토로 이동하는 하루카 특급열차 개찰구 확인하기<br />
4.&nbsp;하루카 특급열차 티켓 개찰구에 넣기 끝!</p>

<p>&nbsp;</p>

<p><span><span><strong>혹시 지정석인가요?</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/14/16737030466274.jpg" /></strong></span></span></p>

<p>하루카 특급열차 티켓은 지정석, 자유석 모두 이용이 가능해요. 지정석은 <span><strong>티켓 발권기 또는 미도리노마도구치에서 예약</strong></span>해 주세요. 자유석은&nbsp;<span><strong>현장에서 &#39;Non-Reserved 5-6&#39; 칸에 탑승</strong></span>하면 돼요. 여기는 자유석 분들이 자유롭게 앉을 수 있는 공간이기 때문에 여기로 탑승하면 된답니다.</p>

<p>좌석에 앉으면 출발 이후 승무원이 다가와서 승차권을 보여달라고 할거예요. 이 때 티켓을 보여주기만 하면 된답니다.</p>

<p><br />
<span><span><strong>헬로키티 열차 탈 수 있나요?</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2019/06/18/15608417766499.png" /></p>

<p>최근 하루카 특급열차는 헬로키티 랩핑을 대대적으로 진행해 외관까지 더욱 매력적으로 변신했어요. 그래서 이제는 헬로키티 하루카 특급열차로 불리고 있어요! 외부도 내부도 온통 헬로키티 세상이니 사진찍기에도 좋아요.&nbsp;</p>

<p><br />
<span><span><strong>소소한 하루카 특급열차 꿀팁</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/14/16737037516132.png" /></p>

<p>하루카 특급열차 알아두면 유용한 꿀팁을 소개할게요.&nbsp;</p>

<p>먼저 의자는 아랫부분의 레버를 발로 밟고 돌리면 움직여요. 앞뒤로 앉아도 서로 마주보고 갈 수 있어요. 또한 짐을 넣는 칸이 별도로 있어 미리 짐을 두고 좌석으로 앉는걸 추천해요.&nbsp;</p>

<p><br />
<span><span><strong>잠깐! </strong></span></span><span><span><strong>하루카 콤보 패스 확인 하셨나요?</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/14/16737039017810.jpg" /></p>

<p>WAUG 에서는 하루카 특급열차가 포함된 다양한 콤보 패스를 판매하고 있어요. 콤보 패스 중에서 어차피 필요한 상품이었다면 개별적으로 구입하는 것보다 콤보 패스가 더 저렴해요.!</p>

<p>JR 하루카 결합 상품&nbsp;<a href="https://www.waug.com/ko/themes/1115">보러가기</a></p>
