<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/19/16871533372845.jpg" /></p>

<p><span><font color="#696969"><b>과거부터 현재까지,<br />
오사카 주택 박물관</b></font></span></p>

<p>오사카 주택&nbsp;박물관은 생활에서 마을 만들기까지, 주택에 초점을 맞춘 일본 최초의 박물관이예요. 에도 시대 오사카의 거리와 현대 오사카의 주택과 생활 양식을 모형과 재료를 통해 감상할 수 있어요. 실제 거리를 체험하고, 상세한 전시물을 만져볼 수 있어요. 오사카의 거리와 생활의 매력, 즐거움을 발견할 수 있어요.</p>

<p>또, 연 5회 개최되는 특별전에서는 다양한 계절 이벤트를 진행한답니다. 일본어를 모르시는 분들도 즐길 수 있게, 오디오 가이드도 제공되고 있어요.</p>

<p><br />
<span><span><strong>오사카의 상가를 실물 크기로?</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/19/16871534925530.jpg" /></p>

<p>오사카 주택&nbsp;박물관의 매력은 과거의 오사카를 오감으로 느낄수 있다는 점인데요, 박물관의&nbsp;9층에는 에도시대 오사카의 거리 풍경을 원래 크기로 복원했답니다. 오사카의 상가와 마을을 직접 돌아다니면서 감상할 수 있어요. 또, 기모노 체험도 가능해요.</p>

<p>마을 구경으로 끝이 아니예요. 과거 오사카에 살았다면 들렸을 법한 소리들이 들려요. 금붕어 장수의 목소리, 빗소리, 강아지와 새 등의 소리를 들을 수 있어요. 실내에 있는데도 낮과 저녁, 어두운 밤의 모습까지 잘 구현했기 때문에, 마치 타임머신을 타고 과거로 온 기분을 느낄 수 있어요.</p>

<p><br />
<span><span><strong>한 눈에 보는 오사카</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/19/16871539979870.jpg" /></p>

<p>8층에는&nbsp;지, 다이쇼, 쇼와 시대의 오사카의 마을, 주택, 생활이 전시되어 있어요. 전시의 중심은 건물 뿐만 아니라 생활 양식과 풍습을 세밀하게 재현했어요. 그래서 오사카 문명의 역사를 한눈에 볼 수 있어요. 각 전시마다 있는 QR코드를 스마트폰으로 스캔해 전시의 설명을 볼 수 있으니, 확인해보셔도 좋아요.</p>

<p>다양한 재미가 있는 오사카 주택 박물관은 여행 중 꼭 가봐야 할 인기 명소예요. 와그의 할인 티켓으로 꼭 방문해보세요.</p>
