<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/23/16875048472104.png" /></p>

<p><span><span><strong>문 턱이 높지 않은,<br />
편하게 쉴 수 있는 카시와야</strong></span></span></p>

<p>몇 년 동안이나 연속으로 미슐랭 3스타로 빛나는 카시와야&nbsp;레스토랑을 소개해요. 음식 뿐만이 아니라 내부 인테리어도 돋보이는 곳으로 내부는&nbsp;일본 목공 디자인의 대가인 토시노리 나카무라가 만들었어요.&nbsp;그래서 레스토랑에 들어선 순간부터 레스토랑의 세심한 요소 요소들이 사계절과 오감을 테마로 하고 있어요.</p>

<p>카시와야는 요리를 통해서 사계절이라는 시각을, 레스토랑 내부에 계절에 맞는 데코레이션으로 오감을, 그에 맞는 서비스를 제공하여 만족감을 주는 곳이에요.</p>

<p>&nbsp;</p>

<p><span><span><strong>쉐프,&nbsp;마츠오 히데아키</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/23/16875050226405.jpg" /></p>

<p>&quot;오너 셰프 마츠오 히데아키&quot;</p>

<p>대학 시설 다도 전통에 관심이 많은 히데아키는 졸업 후&nbsp;Shofukuro 가이세키 레스토랑에서 경력을 쌓기 시작했어요. 몇 년 후 그는 고향으로 돌아와 가족이 운영하는 레스토랑에 합류했고 3년 후 수석 셰프가 되었어요. 현재는&nbsp;Kashiwaya의 오너이자 수석 셰프로 손님에게 최고의 가이세키 요리를 제공하고 있어요.</p>

<p><br />
<span><span><strong>카시와야 메뉴 소개</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/23/16875051687587.png" /></p>

<p>카시와야의 메뉴는 계절에 맞는 제철 식재료와 그 날의 신선도에 따라 매일 달라지는 가이세키 코스로 진행돼요.&nbsp;</p>
