<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/22/16874148937978.jpg" /></p>

<p><span><span><strong>우메다 스카이 빌딩에서<br />
보내는 하루</strong></span></span></p>

<p><font>오사카 여행을 하면 꼭 가봐야 하는 우메다 스카이빌딩! 공중정원 전망대와&nbsp;27층에 위치한 키누타니 코지 천궁 미술관을 함께 방문해보세요.</font></p>

<p>눈 앞에 펼쳐진 오사카의 아름다운 풍경! 신비로운 푸른색 바닥, 파노라믹 뷰로 펼쳐지는 통유리까지&nbsp;완벽한 전망을 자랑하는 오사카의 자랑, 우메다 공중 정원은 오사카의 아름다운 야경을 가장 잘 볼 수 있는 곳이에요.</p>

<p><font>키누타니 코지 천궁 미술관은 프레스코(벽화의 고전기법)와 혼합매체(혼합기법)에 의한 박력있는 3D 체험과 많은 회화, 조각품을 감상 할 수 있어요!&nbsp;세계 최초의 3D 체험은 높이 약 3m, 폭 약 14m의 대형 원형 스크린으로 음악과 함께 그림의 세계로 들어가보세요.</font></p>

<p><br />
<font color="#696969"><span><b>우메다 공중정원 전망대 소개</b></span></font></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/02/01/16752261810461.jpg" /></p>

<p>우메다 공중정원 전망대는 곳곳에 참 볼거리가 많은 곳이에요. 그래서 층별로 어떤 재미있는 볼거리가 있는지 전체적으로 소개할게요.</p>

<p><span><strong>3층 : 하늘로 향하는 출발 게이트</strong></span><br />
3층의 KUCHU TEIEN 게이트에서 우메다 스카이 빌딩 전망대로 올라갈 수 있어요.</p>

<p><span><strong>39층 : 매표소, 갤러리샵, 레스토랑 &amp; 바</strong></span><br />
39층에 있는 매표소에 와그 바우처를 제시 후 티켓을 교환해 전망대 입장할 수 있어요.<br />
또한 다양한 굿즈를 살 수 있는 갤러리샵과 중국요리 상구, 스카이라운지 스타더스트를 만날 수 있어요.</p>

<p><span><strong>40층 : 하늘 위에 떠 있는 갤러리&nbsp;</strong></span><br />
창밖에 펼쳐진 아름다운 경치와 하나가 된 갤러리와 스카이 40 카페를 만날 수 있어요.</p>

<p><span><strong>RF : 루프탑 전망대</strong></span><br />
구름 위 미지의 세계! 걸으면서 만나는 스카이 워크와 루프탑 전망대를 만날 수 있어요.</p>

<p><br />
<span><span><strong>키누타니 코지 미술관 소개</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/22/16874151343658.jpg" /></p>

<p>색채가 풍부한 키누타니 코지의 세계를 만날 수 있는 미술관으로&nbsp;색채가 아주 풍부하고, 다이나믹하고 에너지가 넘치는 작풍이 특징이에요.&nbsp;그려진 대상이 사람이든 풍경이든, 힘찬 색채에서는 생명력이나 창의력이 느껴져 예술을 잘 모르는 사람이라도 분명히 매력을 느끼게 될거예요.</p>

<p>이런 키타니 코지의 매력을 가장 잘 보여주는 곳이 바로&nbsp;우메다 스카이 빌딩에 있는 키누타니 코지 천공미술관이에요.&nbsp;미술관에 한 걸음 들어서면, 푹신푹신한 구름을 형상화한 카펫이 펼쳐지고 심볼존의 커튼도 환상의 분위기를 자아내는데 이것만으로도 충분히 가볼만 해요.</p>
