<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/22/16874094575978.jpg" /></p>

<p><span><span><strong>오사카 필수 코스!<br />
오사카 성 천수각</strong></span></span></p>

<p><font>오사카성 천수각에 방문하기 전에 역사를 알아볼까요? 도요토미 히데요시는 통치자가 거주하기에 적합한 큰 성을 건축하고자 하여&nbsp;1583년 이시야마 혼간지터에 오사카 성을 건축하였습니다.&nbsp;히데요시 사망 후 정권은 도쿠가와 가문으로 옮겨졌고&nbsp;1615년 오사카 나츠노진에서 오사카 성이 무너졌습니다. </font><font>오사카성은&nbsp;약 10년에 걸쳐 재건되었으며&nbsp;</font><font>1665년에 천수각이 낙뢰로 소실되었지만, 1931년 시민들의 열의로 현재의 천수각을 재건하여 1997년에 등록 유형 문화재로 지정되었답니다!&nbsp;</font></p>

<p><font>이러한 역사가 깊은 오사카성 천수각에 방문하여 일본에 대해 알아가는 시간을 가져보세요!</font></p>

<p><br />
<span><span><strong>오사카 성, 어떻게 가면 좋나요?</strong></span></span></p>

<p><font><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/09/16732505185034.jpg" /></strong></span></span></font></p>

<p>오사카 도심 난바역에서 오사카성 가는 방법은 여러가지가 있지만 보통 30분 정도의 시간이 걸려요. 그 중 가장 적게 걸으면서 이동하는 방법을 소개할게요.&nbsp;</p>

<p>바로 미도스지선을 타고 이동하다가 주오선으로 환승하는 방법이에요. 오사카 성을 둘러싸고 있는 지하철 역은 4곳이나 되는데 주오선을 타고 다니마치욘초메역에서 내려 걸어서 이동하는 것이 가장 빠르답니다.&nbsp;</p>

<p><br />
<span><strong><span>시어터룸에서 생생한 역사를 만나보세요!</span></strong></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/10/19/16976796161191.jpg" /></p>

<p _ngcontent-yoc-c120="">천수각 1층에 위치한 시어터 룸에서 도요토미 히데요시와 오사카성에 관한 5개의 영상이 순차적으로 상영하고 있는 사실! 알고 계셨나요?&nbsp;</p>

<p _ngcontent-yoc-c120="">그렇기 때문에 역사적 지식이 부족하더라고 해당 영상들을 시청한 뒤 천수각을 둘러보신다면 더욱 전시들이 와닿으실 거예요!&nbsp;</p>

<p _ngcontent-yoc-c120="">일본어에 능통하지 못하시다고요? 걱정마세요! 시어터룸에서 상영되는 영상은 일본어, 영어, 중국어, 한국어 자막이 제공되고 있어 편하게 영상을 시청하실 수 있어요.</p>

<p _ngcontent-yoc-c120=""><br />
<span><span><b>천수각의 시설을 안내할게요!</b></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/10/19/16976795466470.JPG" /></p>

<p><strong>1F: 캐슬 타워 입구</strong></p>

<p><strong>2F: 성 인포메이션 코너 -&nbsp;</strong><br />
오사카 성과 성에 대한 기본 설명들이 전시되어 있어요.</p>

<p><strong>3F, 4F: 도요토미 히데요시와 그의 시대 -&nbsp;</strong><br />
도요토미 히데요시와 관련된 물건과 오사카 성에 관련된 자료를 포함한 전국 시대의 자료가 전시되어 있어요.</p>

<p><strong>5F: 오사카 여름 병풍의 세계 -</strong><br />
오사카 여름 병풍의 세계는 비디오와 미니어처 모델을 이용하여 알기 쉽게 소개되고 있어요.</p>

<p><strong>6F: 복도</strong></p>

<p><strong>7F: 도요토미 히데요시의 생애 -</strong><br />
오사카성을 건설하고 세계 통일을 이룬 도요토미 히데요시의 생애를 알기 쉽게 소개합니다.</p>

<p><strong>8F: 천문대 -</strong><br />
지상 50m 높이에서는 광활한 오사카 성과 오사카 시내를 둘러볼 수 있어요.</p>

<p>더 자세한 사항은 <a href="https://www.osakacastle.net/exhibition/">공식 홈페이지</a>를 참고해 주세요.</p>

<p><br />
<span><span><strong>와그에서 구입해야 하는 이유</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/09/16732507869417.png" /></strong></span></span></p>

<p>오사카 성은 입장료가 없는 무료지만 천수각은 현장 기준 600엔의 입장료가 있어요. 주유패스는 천수각이 무료 입장이지만 만약 주유패스를 구입하지 않았다면 입장료를 와그에서 할인받아 입장할 수 있어요.&nbsp;국내 단독으로 와그에서만 티켓 구입이 가능해요!</p>
