<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/01/27/16747843368008.jpg" /></p>

<p><span><span><strong>최고의 식재료로 만드는 진짜 스시,<br />
스시 호시야마</strong></span></span></p>

<p>2016년 미슐랭 원스타를 받은 &#39;스시&nbsp;호시야마&#39;는 수년 전부터 많은 고객들로부터 호평을 받고 있는 맛집이에요. 새로운 고객들도 많이 방문하고 있으며 오래된 단골 고객들도 상당히 많은 곳이에요. 15년간 스시에 대해 공부하신 호시야마의 셰프님은 에도마에 방식을 채택하여 고대의 적초와 완벽하게 어우러지는 초밥을 만들고 있어요. 매장 전체 좌석이 8석밖에 없어서 좌석을 예약하기가 매우 어렵기 때문에 반드시 예약이 필요한 곳이에요.</p>

<p>호시야마에는 따로 정해진 메뉴 없이, 신선한 계절의 재료에 따라 셰프님께서&nbsp;그 날의 스시 내용을 결정하고 제공해 드려요. 이곳의 또 하나의 볼거리는 바로 초밥을 담는 그릇이에요. 셰프님께서 매년 일본 전역에서 다양한 형태의 특별한 초밥 그릇을 모으고 계시는데, 여러분께 음식을 대접하려는 마음을 가득 담아 선별한 접시라고 해요.</p>

<p><br />
<span><span><strong>작지만 기품있는 공간</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/19/16871622143313.jpg" /></p>

<p>단 8좌석만 있는 작은 공간이지만 공간에는 기품이 있어요. 좌석은 요리를 하는 쉐프님을 보는 좌석과 풍경을 바라보는 좌석으로 나뉘어져 있어요. 원하는 좌석은 별도로 선택은 어려워요. 운이 좋으면 쉐프님의 음식하는 모습을 볼 수 있어요.</p>

<p><br />
<span><span><strong>최고의 식재료로 만드는 스시</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/19/16871624670510.jpg" /></p>

<p>15년간 스시에 대한&nbsp;공부를 하신 셰프님이 가장 중요하게 생각하는 것은 올바른 재료예요. 모든 재료는 고유의 맛이 있는데 이를 가장 잘 끌어내는 것을 중요하게 생각해요. 그래서 미슐랭 가이드 원스타까지 받았어요.</p>
