<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/04/22/17452996954358.jpg" /><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2026/02/09/17706146257273.jpg" /><br />
&nbsp;</p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/02/07/16757563015922.PNG" /></p>

<p><span>▲</span> 나라에서 사슴을 직접 눈 앞에서 보고 사진 찍을 수 있어요. 특히나 벚꽃이 필 때 더 예쁜 사슴공원을 방문해보세요.</p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/02/07/16757564158858.PNG" /></p>

<p><span>▲</span> 아리마 온천은 철분과 염분으로 인해 황갈색을 띠는 금탕(킨노유)과 무색의 라듐이 함유된 은탕(긴노유)이 대표탕으로 유명해요.</p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/02/07/16757564881895.jpg" /></p>

<p><span>▲</span> 서양식 건축물이 옛날 그대로 남아있는 기타노 이진칸 유럽풍 거리를 걸어보세요.</p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/02/07/16757566080960.PNG" /></p>

<p><span>▲</span>&nbsp;고베항 남부의 해안을 매립해서 만든 드넓은 공원으로 휴식이을 즐기기 좋고&nbsp;주말에는 공연, 벼룩시장 등의 이벤트가 열려 재미난 볼거리를 제공해요.</p>

<p><span><strong>투어 일정 :</strong></span></p>

<ul>
	<li><strong>오전 07:40 - 오사카 닛폰바시역 츠루동탄 소에몬초점 앞 미팅</strong></li>
	<li><strong>오전 08:00 - 투어 출발</strong></li>
	<li><strong>나라 사슴공원, 동대사 (1시간 10분 소요)</strong></li>
	<li><strong>아리마 온천 (자유중식, 개별 온천 가능, 2시간 30분 소요)</strong></li>
	<li><strong>고베 기타노 이진칸거리 (1시간 10분 소요)</strong></li>
	<li><strong>고베 메리켄 파크 (20분 소요)</strong></li>
	<li><strong>고베 하버랜드, 고베항 뷰 관람 및 쇼핑 (1시간 40분 소요)</strong></li>
	<li><strong>오후 18:30 - 미팅장소와 동일한 곳에서 하차</strong></li>
</ul>
<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/12/12/17023596278810.jpg" /><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/04/05/17123020028038.jpg" />