<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/19/16871563371948.jpg" /></p>

<p><span><span><strong>고베 항구 풍경을 만나는,<br />
고베 베이 크루즈</strong></span></span></p>

<p>고베의 베이크루즈 &#39;아타카 마루&#39; 또는 &#39;로얄 프린세스&#39;를 탑승해 보세요. 유람선을 탑승하는 일은 아름다운 고베 항의 풍경을 즐길 수 있는 가장 좋은 방법이에요.</p>

<p>우리가 이용할 수 있는 두 선박 모두 지붕이 없는 넓은 스카이 테라스를 갖추고 있기 때문에 낮부터 일몰의 아름다운 풍경과 밤에 펼쳐지는 아름다운 야경과 별이 보이는 밤 하늘, 계절의 변화에 따라 보이는 항구 도시 고베의 전망을 마음껏 즐길 수 있어요.</p>

<p><br />
<span><span><strong>선박을 소개해요!</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/19/16871564066096.jpg" /></p>

<p><span><strong>1. 아타카 마루</strong></span><br />
고베항에 우뚝 선 주홍색의 일본식 배 고자부네 아타케마루(정원 500명)는 에도 막부의 3대 쇼군 이에미쓰의 명령으로 건조된 거대한 배인&nbsp;아타케 마루에서 영감을 받았습니다. 오카야마 태생의 산업 디자이너 미토오카 에이지 씨 감수 하에 2017년에 리뉴얼 하였습니다. 전 좌석이 모두 자유석으로 배의 내부는 만다라와 같은 다양한 연령대와 문화의 스타일을 다채롭게 꾸민 미닫이 문 그림, 일본 우산, 천장 그림과 결합하여 고급스럽고 우아한 공간을 연출했습니다.</p>

<p><span><strong>2. 로얄 프린세스</strong></span><br />
2층 구조의 배(정원 500명)는 간사이 지방 최대급의 유람선입니다. 3층은 롯코산을 배경으로 고베의 거리를 360&deg;로 조망할 수 있는 지붕 없는 스카이 테라스 입니다. 로열 프린세스도 고베 대교 아래를 지나가, 대교의 아름다움을 느낄 수 있습니다. 고베 대교는 항구 터미널과 세계 최초의 인공 섬인 포트 아일랜드를 연결하는 2층 붉은 철교입니다. 야간 조명이 켜진 이 배는 3층 스카이 데크에서 고베를 바라보며 아름다운 사진과 동영상을 찍을 수 있는 명소로, 최근 SNS에서 인기를 끌고 있습니다.</p>

<p><br />
<span><span><strong>환상적인 고베 항의 야경을 즐겨요</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/19/16871565108943.jpg" /></p>

<p>크루즈에서 보는 고베는 기대 이상으로 정말 아름다워요. 특히 고베를 상징하는 건축물을 전혀 새로운 각도에서 볼 수 있기 때문에 꼭 한 번 탑승해 보는 것을 추천해요.</p>
