<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/18/16870777792147.jpg" /></p>

<p><font color="#696969"><span><b>&#39;기타신치&#39;에 위치한,<br />
가이세키 전문 레스토랑 &#39;이와키&#39;</b></span></font></p>

<p>이와키는 활력이 넘치는 오사카의 파인 다이닝 거리에 위치하고 있는 미슐랭 1성급의 가이세키 전문점이랍니다. 최고의 가이세키 요리를 가성비있게 즐길 수 있어서 현지인 뿐만 아니라 여행객들에게도 많은 찬사를 받고 있으며 인기가 높은 레스토랑이에요.</p>

<p>오사카 현지에서 생산된 자연산 고급 식재료와 자연산 생선을 사용하여 가이세키 요리를 제공하고 있기 때문에 재료 본연의 참맛과 셰프의 절묘한 요리 솜씨를 직접 느낄 수 있어요. 레스토랑이 위치한 기타신치는 일본을 대표하는 파인 다이닝 거리랍니다.</p>

<p>&nbsp;</p>

<p><span><span><strong>정통 갓포 요리를 만나다</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/18/16870777450839.jpg" /></p>

<p>일본에서는 식당 이름에 &#39;갓포&#39;라는 단어가 들어간 식당을 많이 볼 수 있는데, 일본 요리에서 자르고 요리한다는 것은 정확히 무엇을 의미할까요?</p>

<p>먼저, 갓포는 &#39;자르고 삶는 요리&#39;를 뜻한답니다.&nbsp;이와키 갓포에 오시면 정통 갓포 요리를 맛볼 수 있어요. 이와키에는 조리대 내부를 들여다 볼 수 있는 8개의 바 좌석이 있으며, 조리대 안에서 셰프의 모든 움직임을 손님이 선명하게 볼 수 있답니다. 불필요한 움직임 없이 셰프가 요리하는 모습을 지켜보는 즐거움은 일본 파인 다이닝 레스토랑에서만 볼 수 있는 일본 고유의 식사 문화이기도 해요.</p>

<p>또한 갓포 요리의 본질은 재료의 사용과 재료 본연의 맛이기 때문에 이와키에서는 재료의 계절성을 중요시하여 간사이 지방의 고품질 제철 재료를 사용하고 자연산 생선을 모두 사용하는 등 재료의 본질에서 출발하여 계절의 풍미, 자연 본연의 맛을 느낄 수 있도록 노력하며 최고의 요리를 선보이고 있답니다.</p>

<p>&nbsp;</p>

<p><font color="#696969"><span><b>진짜 가이세키</b></span></font></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/06/18/16870779551162.jpg" /></p>

<p>식사는 셰프의 특선 가이세키 요리 코스로, 매일 정해진 메뉴 없이 그날의 계절 식재료에 따라 가장 신선하고 맛있는 요리를 제공해드리고 있답니다. 어떤 근사한 요리를 만날 수 있을지 기대하며 방문해 보세요!</p>

<p><span>*사진은 참고용이며, 코스 내용은 매일 상이합니다.</span></p>
