<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/07/04/16884289885528.jpg" /></p>

<p><span><span><strong>&#39;특별한 하루를 보내고 싶어요.&#39;<br />
그렇다면 승선하세요!</strong></span></span></p>

<p>호화를 누리고 싶은 날, 누구나 한번식은 있잖아요? 그런 날과 딱 어울리는 티 크루즈예요. 이곳에서 특별한 기념일을 보내도 좋고, 심지어 아무 날이 아니더라도 특별한 날로 만들어줄거예요.</p>

<p>바다 위를 가로지르는 크루즈를 탑승하고, 직접 연주하는 클래식과 재즈 음악을 곁들이면서 고급스럽고 맛있는 케이크와 음료를 마시는 기분은 최고거든요!&nbsp;자신을 위한 선물로도, 소중한 사람을 위한 선물로도 추천해요.</p>

<p>&nbsp;</p>

<p><span><span><strong>음악, 필수 아니겠어요?</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/07/04/16884290520829.jpg" /></p>

<p>낭만을 즐기기 위해 꼭 필요한 것이 있죠. 바로 음악인데요, 전문 뮤지션이 크루즈에 함께 승선하여 직접 음악을 연주한답니다. 날짜마다 다른 뮤지션이 승선하기 때문에, 자세한 정보가 궁금하신 분들은 <a href="https://thekobecruise.com/concerto/music">공식 홈페이지</a>에서 확인할 수 있어요.</p>

<p>갑판에서 맛있는 디저트와 함께 푸른 바다를 바라보며 듣는 음악은, 특별한 분위기에 낭만적인 연출을 더해줄거예요. 라이브로 연주하는 음악을 다함께 즐겨봐요.</p>

<p><br />
<span><span><strong>어떤 코스를 선택하는게 좋을까요?</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/07/04/16884298474473.jpg" /></strong></span></span></p>

<p>트와일라잇 나이트 크루즈는 총 4가지의 코스 중 한가지를 선택할 수 있어요. 코스에 따라 요리의 구성이 달라, 좋아하는 요리가 있는 코스를 선택할 수 있답니다. 그럼, 어떤 코스가 있는지, 코스마다 어떤 요리가 포함되어 있는지 소개할게요.<br />
&nbsp;</p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/05/27/17483171293426.png" /></p>

<p><strong><span>▲</span> 프렌치 코스 아르테미스</strong>: 아르테미스는&nbsp;계절의 소재를 살린 프렌치, 소고기 퓌레 소테 5품 코스예요. 달을 상징하는 여신인 아르테미스라는 이름처럼, &#39;달&#39;을 테마로 한 코스를 즐겨볼 수 있어요.</p>

<p><br />
<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/05/27/17483171519716.png" /></p>

<p><strong><span>▲</span> 프렌치 코스 루나:&nbsp;</strong>루나는&nbsp;생선, 오리고기, 디저트가 포함된 프렌치 코스예요. 여름의 맛을 즐길 수 있는 요리들로 구성되어 있어요.</p>

<p><br />
<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/05/27/17483171710928.png" /></p>

<p><strong><span>▲</span> 프렌치 코스 비너스</strong>: 비너스는&nbsp;재철야채, 생선, 와규 등이 포함된 프렌치 코스예요. 해산물과 소고기를 모두 맛보실 수 있어요.<br />
&nbsp;</p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/05/27/17483171933160.png" /></p>

<p><strong><span>▲</span> 프렌치 코스 고베규</strong>: 고베규 코스는 고베의 맛을 만끽할 수 있는 코스예요. 세계적으로 유명한 고베의 고베규를 맛보실 수 있어요.<br />
<br />
* 음식은 현장 상황 및 시즌에&nbsp;따라 변경될 수 있어요.&nbsp;자세한 사항은 공식 사이트를 확인해 주세요. <a href="https://thekobecruise.com/concerto/night"><strong>바로가기</strong></a><br />
* 사진은 참고용입니다.</p>
