<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/11/16917142256066.jpg" /></p>

<p><font color="#696969"><span><b>향기로운 시간,<br />
Candle Studio Lumiere</b></span></font></p>

<p>Candle Studio Lumiere는 오사카에 있는 캔들샵이에요. 향기롭고 예쁜 수제 캔들을 판매하고, 일일 레슨까지 함께 운영하고 있어요. 은은한 캔들의 향기가 퍼지는 이곳에서 힐링해보세요.</p>

<p>취향에 따라 캔들, 사쉐를 직접 만들어 볼 수 있어요. 각각 어떤 체험이 진행되는지, 지금부터 소개할게요!</p>

<p><br />
<span><span><strong>나만의 귀여운 캔들 만들기</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/11/16917161087957.jpg" /></p>

<p>캔들 만들기 체험에서는 <strong>소이 캔들</strong>, <strong>젤&nbsp;캔들</strong>, <strong>플라워 캔들</strong> 중 원하는 캔들을 직접 만들 수 있어요. 캔들마다 각각 매력적인 디자인과 특징을 띠고 있어요. 가장 인기 있는 캔들은 소이 왁스가 듬뿍 들어간 소이 캔들이에요. 고급스러운 디자인으로, 방의 품격을 올려주거든요.</p>

<p>평범한 캔들보다, 나의 취향을 잔뜩 반영한 캔들을 만들고 싶은 분들에게는 보다 선택지가 많은&nbsp;플라워 캔들을 추천해요. 플라워 캔들은&nbsp;온통 꽃으로 가득한 디자인의 캔들로, 좋아하는 색과 꽃의 종류, 향기로 만들 수 있거든요.</p>

<p><br />
<span><span><strong>사셰, 향기를 가득 머금어요&nbsp;</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/11/16917161217583.jpg" /></p>

<p>또다른 선택지,&nbsp;보타니컬 램프 &amp; 앤틱 사셰 만들기를 선택할 수 있어요. 사진에서 보이는 둥근 병이 <strong>보타니컬 램프</strong>예요. 예쁜 꽃들이 듬뿍 들어간 모습과 동그란 병 모양의 조화가 참&nbsp;예쁘지 않나요? 램프 안에 들어가는 오일과 꽃의 종류를 직접 선택할 수 있어요.</p>

<p>사셰, 들어보셨나요? 사셰(sachet)는 향을 머금고 있는 주머니예요. 정말 주머니처럼 생긴 것도 있고, 왁스 형태의 것도 있어요. 램프 옆에 납작한 모양의 장식이 바로 <strong>사셰</strong>예요. 원하는 모양을 선택하고,&nbsp;말린 꽃으로 장식할 수 있어요. 불을 붙이지 않아도 향기를 즐길 수 있어서, 방에 장식해두기만 해도 기분이 좋아져요.</p>
