<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/16/16921701988077.jpg" /></p>

<p><span><span><strong>당신의 취향을 존중해요,<br />
Lily bear candle class</strong></span></span></p>

<p>릴리 베어 캔들 클래스는 오사카 혼마치역에서 5분 거리에 있는 캔들 샵이에요. 아기자기 귀엽고 향긋한 수제 캔들과 사셰를 직접 만들어 볼 수 있어요. 개인의 취향에 맞춰 캔들 안에 들어갈 향료와 꽃을 직접 골라 자신의 캔들을 완성해 보세요! 만들어진 캔들은 사랑하는 사람에게 선물할 수 있어 더욱 뜻깊고 향기로운 선물이 될 거예요.</p>

<p>&nbsp;</p>

<p><span><strong><span>다양한 종류의 캔들을 선택해 보세요!</span></strong></span></p>

<p><strong><span><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/16/16921710763834.jpg" /></span></strong></p>

<p>1. 아로마 사쉐 (2개입)<br />
- 향과 안에 들어갈 드라이 플라워를 선택할 수 있어요.<br />
<br />
2. 반짝 반짝 보석 비누<br />
- 내 취향에 맞춰 색과 향을 고를 수 있고, 상황에 따라 2~8조각까지 만들 수 있어요.<br />
<br />
3. 보태니컬 젤 캔들<br />
- 다른 캔들과는 다르게 여러 번 사용이 가능한 젤 캔들이에요. 투명한 젤 왁스 안에 넣을 드라이 플라워를 직접 선택할 수 있어요.<br />
<br />
4. 하바리움<br />
-&nbsp;보존기능이 있는 특수용액 안에 예쁜 드라이 플라워를 선택해 넣을수 있어요. 인테리어용으로 아주 좋아요!<br />
<br />
5. 보석 캔들<br />
- 보석을 연상하게 하는 반짝 거리는 캔들에 원하는 색상과&nbsp;사이즈를 선택 할 수 있어요.&nbsp;<br />
<br />
6. 내츄럴 소이 캔들<br />
- 100% 식물성 콩에서 추출한 소이 왁스를 사용하여 다양한 텍스쳐의 캔들을 만들어요.</p>

<p>&nbsp;</p>

<p><font color="#696969"><span><b>이런분들께 추천해요</b></span></font></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/16/16921722925190.jpg" /></p>

<p>평범한 소이 캔들 만들기는 이제 질리신 분! 릴리 베어 캔들 클래스는 다양한 종류의 캔들과 사쉐, 하바리움을 만들어 볼 수 있어 평소 특별한 원데이 클래스를 찾고 계셨던 분께 완벽한 선택이 될 거예요! 이번 오사카 여행에서는 사랑하는 연인 혹은 친구와 함께 예쁜 캔들을 완성해 보시고 오랫동안 기억될 추억을 쌓아보세요!</p>
