<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/09/13/16945866642694.jpg" /></p>

<p><span><span><strong>특별한 식재료와 함께하는<br />
오사카 미식 여행</strong></span></span></p>

<p>오사카 우메다에 위치한 철판요리 진! 구글 평점 4.2를 기록할 정도로 손꼽히는 유명한 철판요리 전문 레스토랑이죠. 까다롭게 엄선된 와규와 닭새우, 신선한 생전복 등 귀한 식재료를 이용하기 때문에 항상 신선하고 이색적인 맛을 느낄 수 있는 건 기본! 매월 30마리밖에 생산할 수 없는 오자키규 소만 사용하며&nbsp;기름이 풍부하지만 담백하고 깔끔한 와규를 드셔볼 수 있어요.</p>

<p>일본뿐 아니라 해외에서도 미식가들이 주목하는 고급 와규를 드셔보시고 라이브 철판구이 퍼포먼스와 함께 잊을 수 없는 식사를 경험해 보세요!</p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/09/13/16945867466229.jpg" /></p>

<p>오사카 철판요리 진은 아이자카는&nbsp;요쓰바시선 니시우메다역에서 도보 1분 거리에 위치해&nbsp;쉽게 방문할 수&nbsp;있어요! 힐튼 프라자&nbsp;5층에 위치해 있어 맛있는 음식을 즐기면서 오사카 시내를&nbsp;구경할&nbsp;수 있으며, 블랙 + 대리석으로 완성된&nbsp;인테리어로 인해 한층 고급스럽고 깔끔한 분위기를 즐길 수&nbsp;있어요.</p>

<p>오사카 철판요리 진은&nbsp;가족, 혹은 연인들과 오붓하게 식사할 수 있는 개인실이 마련되어 있어 조용하게 식사를 즐길 수&nbsp;있어요! 기념일 혹은 특별한 날에 방문해 보세요.</p>

<p>&nbsp;</p>

<p><span><span><strong>메뉴 안내</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/09/13/16945859421308.png" /></p>

<p><b>1. 오자키 와규와 해산물 4종 철판구이 런치 세트</b><br />
전채요리, 오자키 소고기 스튜, 계절 야채 샐러드, 전복 &amp; 생선 철판구이, 엄선된 오자키 소고기 안심 100g &amp; 엄선된 6가지 계절 야채 철판구이(핫프레스 토스트 포함), 계란 마늘밥(미야자키 히라유키 농장 계란), 된장국, 장아찌, 계절 디저트, 커피 또는 홍차</p>

<p><b>2. 오자키 와규 안심 철판구이 세트</b><br />
식사 전 음료, 철판구이 오자키 소고기 구이, 애피타이저 플래터, 오자키 소고기 스튜,&nbsp;랍스터 &amp; 검은 전복 철판구이, 엄선된 제철 야채 &amp; 수제 오자키 소고기 베이컨 샐러드, 프리미엄 오자키 등심 소고기 100g &amp; 엄선된 6가지 제철 야채 철판구이, 계란 마늘밥(미야자키 히라유키 농장 계란), 붉은 된장국, 장아찌, 제철 과일 플래터, 커피 또는 홍차</p>

<p><b>3. 오자키 와규와 최고급 설로인 철판구이 세트</b><br />
식사 전 음료, 철판구이 오자키 소고기 구이, 애피타이저 플래터, 오자키 소고기 스튜, 랍스터 &amp; 검은 전복 철판구이, 엄선된 제철 야채 &amp; 수제 오자키 소고기 베이컨 샐러드, 프리미엄 오자키 안심 100g &amp; 엄선된 6가지 제철 야채 철판구이, 계란 마늘밥(미야자키 히라유키 농장 계란), 붉은 된장국, 장아찌, 제철 과일 플래터, 커피 또는 홍차<br />
<br />
<b>4. 오자키 와규 &amp; 최고급 필레미뇽 철판구이 세트</b><br />
전채요리, 계절 야채 샐러드, 계절 수프, 해산물 철판구이(새우, 가리비, 오징어, 셰프 추천 해산물), 엄선된 계절 야채 5코스 철판구이, 프리미엄 오자키 필레 100g 철판구이, 야채와 함께 볶은 오자키 소고기, 특제 마늘밥, 붉은 된장국, 장아찌, 디저트 포함)</p>

<p>* 메뉴는 참고용이며 변경될 수 있습니다.</p>
