<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/04/27/17142139776041.jpg" /></p>

<p><span><span><strong>오감만족 끝판왕!<br />
고베 포트 뮤지엄 아토아</strong></span></span></p>

<p>화려한 영상이 온 시선을 잡아끄는 고베 포트 뮤지엄 아토아! 아무 곳에서나 셔터를 눌러도 인생샷을 가져갈 수 있는 곳으로 유명하죠.</p>

<p>아토아에서는 아쿠아리움에 미술과 디지털 아트를 융합시켜 다양한 생물들을 더 신비롭게 느껴지게 하는데요! 소리, 빛, 향기 등 오감으로 느끼는 환상적이고 독창적인 분위기를 만끽할 수 있어요.&nbsp;</p>

<p>일본 최대 스케일을 자랑하는 고베 포트 뮤지엄 아토아를 직접 방문해 보시고 다양한 물고기, 동물 친구들을 만나보세요!</p>

<p>&nbsp;</p>

<p><span><span><strong>다양한 전시</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/04/27/17142140036861.jpg" /></p>

<p><strong>Cave:</strong><br />
동굴을 표현한 공간으로 다면 형의 수조에서 물고기를 감상할 수 있어요. 빛나는 조명과 다채로운 색조는 덤!</p>

<p><strong>Marine notre:</strong><br />
타원형의 수조에서 하나미노카사고, 캐리비안 씨 호스와 같은 물고기들을 감상할 수 있어요.</p>

<p><strong>Elements:</strong><br />
정령의 숲을 표현해 강가에 사는 민물고기들을 구경할 수 있는 신비로운 공간이에요.</p>

<p><strong>Planets:</strong><br />
우주와 심해를 표현한 곳으로 일본 최대 규모의 수조와 미스트, 레이저가 함께 하는 공간이에요.</p>

<p><strong>Gallery:</strong><br />
다양한 미술 작품들을 전시한 곳으로 천천히 걸으며 아름다운 예술 작품들을 구경할 수 있어요!&nbsp;</p>

<p>이외에도 정말 다양한 공간들이 여러분을 기다리고 있어요! 더욱 자세한 정보는 <a href="https://atoa-kobe.jp/floor/">공식 홈페이지</a>를 참고해 주세요.</p>

<p>&nbsp;</p>

<p><span><span><strong>예쁜 기념품이 가득</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/10/11/16969931903585.jpg" /></p>

<p>아쿠아리움 &amp; 아트 아토아를 둘러본 후 그냥 가긴 아쉽죠! 1층에 위치한 뮤지엄 샵에서는 아이들이 좋아하는&nbsp;봉제 인형이나, 효고&middot;고베의 유명 브랜드와의 콜라보 상품 등 독특한 기념품들을 둘러볼 수 있어요.</p>

<p>아토아만의 감성이 녹아있는 귀여운 뮤지엄 샵을 둘러보시고 여행을 오랫동안 기억하게 할&nbsp;기념품을 구매해 보세요.</p>
