<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/12/14/17025312476723.jpg" /></p>

<p><span><span><strong>신선한 해산물과 즐기는<br />
코스 요리</strong></span></span></p>

<p>신선하고 맛있는 해산물을 합리적인 가격에 제공하는 오사카 오우사! 이미 관광객들과&nbsp;현지인들 사이에서 입소문이 자자한&nbsp;유명한 해산물 전문 레스토랑이죠.</p>

<p>25년 경력의 셰프가 까다롭게 엄선한 해산물과&nbsp;신선한 제철 식재료만을&nbsp;이용하기 때문에 항상 깔끔하고&nbsp;프레쉬함을&nbsp;느낄 수 있는 건 기본! 레스토랑 내에는 카운터 석, 테이블 석, 하프룸 등 이 있어 상황에 맞게&nbsp;식사를 할 수 있어요.</p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/11/22/17006331194519.jpg" /></p>

<p>오사카 오우사는&nbsp;오사카 난바역 도보 1분 거리에 위치해 쉽게 방문할 수 있어요! 레스토랑 내에는&nbsp;넓은&nbsp;좌석과 일본식 분위기의 인테리어로 인해 편안하고 아늑하게<font id="ul_1">&nbsp;식사를</font> 즐길 수 <font id="ul_2">있는 건&nbsp;</font>물론,&nbsp;오우사는 금연 식당이기 때문에 가족, 혹은 연인들과 편하게 방문해&nbsp;깔끔하게&nbsp;식사할 수 있어요.</p>

<p>&nbsp;</p>

<p><span><span><strong>메뉴 안내</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/11/22/17006327259605.png" /></p>

<p><strong>1.</strong>&nbsp;<strong>스탠다드 코스</strong><br />
- 계절&nbsp;전채 요리&nbsp;<br />
- 회(참치, 도미, 문어)<br _mstmutation="1" />
-&nbsp;닭고기 구이<br />
- 튀김 푸라노(새우, 멸치, 야채)<br _mstmutation="1" />
- 초밥(참치, 장어, 가리비)<br _mstmutation="1" />
- 국<br />
- 디저트<br _mstmutation="1" />
- 음료</p>

<p><strong>2.&nbsp;특별 코스</strong><br />
- 계절&nbsp;전채 요리&nbsp;<br />
- 회(참치, 도미, 문어, 오늘의 추천 회 2종)<br _mstmutation="1" />
-&nbsp;갈비구이<br />
- 튀김(새우, 멸치, 야채, 오늘의 추천 튀김 1종)<br _mstmutation="1" />
- 초밥( 참치, 장어, 가리비, 새우)<br _mstmutation="1" />
- 국<br />
- 디저트<br _mstmutation="1" />
- 음료</p>

<p><strong>3.&nbsp;프리미엄 정식</strong><br />
- 계절&nbsp;전채 요리&nbsp;<br />
- 회(참치, 도미, 문어, 오늘의 추천 회 3개)<br _mstmutation="1" />
-&nbsp;와규 등심 스테이크<br />
- 튀김(새우, 멸치, 야채, 오늘의 추천 튀김 1개)<br _mstmutation="1" />
- 초밥(참치, 장어, 가리비, 새우, 문어)<br _mstmutation="1" />
- 국<br />
- 디저트<br _mstmutation="1" />
- 음료</p>

<p>※음료는 레스토랑에서 제공하는 음료 리스트에 따라 선택 가능</p>
