<p><span><strong><span><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/03/07/17098004900406.jpg" /></span></strong></span></p>

<p><span><strong><span>미슐랭 가이세키,<br />
오이마츠 키타가와</span></strong></span></p>

<p>무려 10년 연속 미슐랭 가이드에 등재된 오이마츠 키타가와는 전국 각지에서 엄선한 제철 재료를 맛볼 수 있는 가이세키 레스토랑이에요. 식사 취향에 따라 생선 혹은 고기가 중심으로 된 메뉴를 선택할 수 있고, 특히 다시 국물을 소중히 생각하여 독자적으로 혼합한 국물이 일품이에요.</p>

<p>또한 20종류 이상의 지역 특산술도 준비되어 요리에 맞춘 술을 추천해 주신다고 하니 뜻깊은 여행에서의 하루, 이곳에서 미슐랭의 맛에 몰입해 보는 건 어떠신가요?</p>

<p><br />
<font color="#696969"><span><b>셰프 키타가와 토오루의 이야기</b></span></font></p>

<p><font color="#696969"><span><b><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/03/07/17098003867251.jpg" /></b></span></font></p>

<p>키타가와 토오루는 손목뼈가 녹아내리는 난치병에 걸려 의사로부터 요리를 포기하는 것이 좋겠다고 권유받았지만, 요리에 대한 집념으로 포기하지 않고 이어나가 완치는 물론 미슐랭 레스토랑의 주인장이 되었어요.</p>

<p>그만큼 요리에 대한 열정이 엄청난 그의 레스토랑에서 소중한 사람들과 함께하는 맛있는 식사,&nbsp;분명 만족스러우실 거예요.</p>

<p><br />
<font color="#696969"><span><b>섬세함이 돋보이는 일본식 공간</b></span></font></p>

<p><font color="#696969"><span><b><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/03/07/17098004288486.jpg" /></b></span></font></p>

<p>니시텐마 골동품 거리에 위치해 늠름한 분위기를 풍기는 이곳은 일본의 전통적인 운치를 보여주는 인테리어로 되어있어요.</p>

<p _msthash="39" _msttexthash="7930273468">별실이&nbsp;마련되어 있는 것은 물론, 카운터석은 셰프가 요리하는 것을 제대로 볼 수 있도록 식사 테이블과 요리 테이블, 도마의 높이가 같다는 점에서 독특함과 섬세함을 잘 느낄 수 있어요.</p>

<p _msthash="39" _msttexthash="7930273468"><br />
<font color="#696969"><span><b>선택 가능 코스 안내</b></span></font></p>

<p _msthash="39" _msttexthash="7930273468"><font color="#696969"><span><b><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/03/07/17098004806804.jpg" /></b></span></font></p>

<p>헤드 셰프가 그날의 식재료에 맞는 메뉴를 구상하여 코스로 제공해요.</p>

<p>스탠다드 셰프 선별&nbsp;코스 (생선 위주의 코스)<br />
클래식 셰프 선별&nbsp;코스&nbsp; (고기 위주의 코스)<br />
프리미엄 셰프 선별&nbsp;코스 (프리미엄 재료를 사용한 코스)</p>

<p>* 자세한 메뉴는 <a href="https://oimatsukitagawa.com/maindish/?lang=ko">공식 홈페이지</a>를 참고해 주세요.</p>
