<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/05/22/17163598452940.jpg" /></p>

<p><span><span><strong>화려한 크루즈와<br />
도톤보리 강의 만남</strong></span></span></p>

<p>일본 대표 관광지 오사카의 도톤보리 강을 크루즈를 타고 구경해 보세요. 미나토마치 선착장에서 출발한 크루즈는 글리코상 앞을 지나 닛폰바시를&nbsp;기점으로 유턴하여 돌아오는 코스로 진행되며,&nbsp;글리코상 앞에서 친절한 스태프분이&nbsp;직접 사진도 찍어주기에 특별한 추억을 만드는데 안성맞춤이에요.&nbsp;밤이 되면 불빛이 들어와 더욱 아름다워지는 크루즈를 타고 오사카의 밤을 즐기러 떠나봐요.</p>

<p>&nbsp;</p>

<p><span><span><strong>오사카 인디 크루즈</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/05/22/17163595313347.jpg" /></p>

<p>오사카 인디 크루즈는 오전 11시부터 30분 간격으로 운행해요. 해가 지는 시간에 맞춰 탑승하면 일몰과 어우러진 도톤보리 강을 즐길 수 있어요. 밤에는 크루즈에 조명이 켜져서 도톤보리 거리의 화려한 간판들과 어우러진 크루즈를 감상하는 것도 꿀팁 중 하나에요. 어두워질수록 아름답고 매력적인 도톤보리 강을 크루즈를 타고 잊지 못할 추억을 만들어보세요!<br />
&nbsp;</p>

<p><span><span><strong>이렇게 진행돼요</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/05/22/17163600801154.jpg" /></strong></span></span></p>

<p><strong>✅</strong>&nbsp;탑승 시간 10분 전까지 크루즈 탑승 장소로 모여 주세요.<br />
<strong>✅&nbsp;</strong>간단한 설명을 듣고 출발 시간까지 잠시만 기다려 주세요. (스태프분은 간단한 영어가 가능해요.)<br />
<strong>✅&nbsp;</strong>크루즈를 타고 20분간 도톤보리를 구경해요.<br />
<strong>✅&nbsp;</strong>출발했던 장소로&nbsp;돌아오며 크루즈 탑승을 마쳐요.</p>
