<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/06/20/17188609397610.jpg" /></p>

<p><span><span><strong>재즈가 흐르는<br />
난바 토리코</strong></span></span></p>

<p>재즈가 흘러나오는 야키토리 가게, 상상해 보셨나요? 보통의 꼬치 집과는 다르게, 재즈 음악이 흘러나와 색다른 분위기를 연출하고 있을 뿐만 아니라 와인과 함께 즐기는 야키토리로 유명해요. 실제로 가게에 마련되어 있는 와인 셀러에는 다양한 종류의 와인이 마련되어 있으니 한 잔 주문하셔서 곁들여 드시는 것도 좋은 선택이 될 거예요.</p>

<p>재료 손질 단계부터 정성을 가득 담아&nbsp;더욱 맛있는 야키토리로 맛있는 식사를 즐겨보세요. 부드러운 육질과 숯불향 가득한 풍미가 특징인 난바 토리코에서는 숯불 꼬치류뿐만 아니라 다양한 일식도 함께 코스로 제공하고 있기 때문에&nbsp;스키야키, 라멘, 덮밥 등을 함께 즐겨보실 수 있어 일식 탐방을 떠나기에 좋아요!&nbsp;</p>

<p>&nbsp;</p>

<p><span><span><strong>선택 가능한 코스</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/08/16/17553479907840.jpg" /></strong></span></span></p>

<p><strong>나고미 코스</strong><br />
[메뉴]<br />
장어 초밥<br />
샐러드<br />
야키토리&nbsp;: 닭가슴살, 모래집, 연골, 닭날개, 완자, 채소구이<br />
찐 표고버섯<br />
닭고기를 곁들인 스키야키<br />
라멘 (닭 육수)<br />
수제 리치 푸딩<br />
<br />
<strong>타케 코스</strong><br />
[메뉴]<br />
에피타이저 5종<br />
샐러드<br />
야키토리&nbsp;5종<br />
채소 꼬치 2종<br />
수제 절임과&nbsp;매실 장아찌<br />
흰 간 무스<br />
닭고기 계란 덮밥<br />
디저트 (샤베트)</p>
