<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/06/21/17189393065289.jpg" /></p>

<p><span><span><strong>오사카 초밥 만들기<br />
안심하고 체험해요</strong></span></span></p>

<p>초밥 만들기 체험은 오사카 니혼바시, 난바에서 도보 5분 거리에 마련되어 있는&nbsp;다이키 수산 스시 세미나실에서 진행돼요. 체험은 일본어로&nbsp;진행되지만, 경험이 풍부한 일본인 요리사님께서 가까이 오셔서 시범을 여러번 보여주시기 때문에 쉽게 따라할 수 있어요!</p>

<p>직접 만든 초밥과 기념 촬영, 초밥 시식 등 풍성한&nbsp;구성으로 짜여 있고, 마지막에는 수료증까지 증정해 드리니&nbsp;알찬 오사카 여행을 만들고 싶으신 분들께&nbsp;추천하는 체험이에요.</p>

<p>&nbsp;</p>

<p><span><span><strong>핫피 입기 체험</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/06/21/17189396803977.jpg" /><br />
<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/06/21/17189396888670.jpg" /></p>

<p>핫피는 일본의 전통 의상으로 축제나 스포츠 경기 등을 응원할 때 많이 입는 옷이에요! 다이키 수산 초밥 만들기 체험장에도 다양한 디자인의 핫피가 마련되어 있으니 희망하는 분들께서는 어울리는 핫피를 찾아 입으시고, 초밥을 만들어 인증샷을 찍으실 수 있어요! 친구, 커플, 가족과 함께 입고&nbsp;잊지 못할 추억으로&nbsp;남겨보세요.</p>

<p>&nbsp;</p>

<p><span><span><strong>선택 가능한 코스</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/06/21/17189401744946.jpg" /><br />
<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/06/21/17189401847825.jpg" /></p>

<p>8종 초밥 코스 (음료 1잔과&nbsp;된장국 포함)</p>

<p>10종 초밥 코스&nbsp;(음료 1잔과&nbsp;된장국 포함)</p>

<p>체험에 대한 자세한 사항은 <a href="https://sakana.daiki-suisan.co.jp/shop/13">공식 홈페이지</a>를 참고해 주시기 바랍니다.</p>
