<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/07/03/17199948297861.jpg" /></p>

<p><span><span><strong>장인의 창조 정신이<br />
녹아든 요리</strong></span></span></p>

<p>capi는 재료 본연의 맛을 최대한 살리면서도, 각 재료들이 만났을 때 만들어내는 새로운 맛에 집중해 퓨전 요리를 끊임없이 창조해 내고 있어요. 소금의 짠맛과 단맛처럼 미각의 대비되는 효과를 활용해 독특한 맛을 만들어내는 것이 특징이죠.&nbsp;계절에 따라서도 식재료를 다르게 활용하고 있어, 계절의 생동감을 느낄 수 있음과 동시에 이전에는 맛보지 못했던 새로운 맛을 선사하기에 추천해요.</p>

<p>계절마다, 또 재료마다 다른 조합을 선보이고 있는 capi지만, 그렇다고 해서 재료들의 조화를 신경쓰지 않는 게 아니에요. 꽁치와 토마토, 감자와 치즈, 오리와 무화과 등 함께 맛봤을 때 맛을 극대화할 수 있는 조합을 연구하기 때문에, 어떤 요리를 맛보든 신선함과 미각의 즐거움을 동시에 느껴볼 수 있어요.</p>

<p>&nbsp;</p>

<p><span><span><strong>메뉴를 소개해요</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/08/16/17553292942460.png" /></p>

<p>해당 패키지에 포함된 코스의 메뉴를 소개해 드릴게요.</p>

<p>✨ 에피타이저 3종</p>

<p>✨ 에피타이저 4종</p>

<p>✨ 메인 코스 (고기)</p>

<p>✨ 리조토</p>

<p>✨ 스파게티</p>

<p>✨ 초본 차</p>

<p>✨ 디저트 / 다과</p>

<p>✨ 커피</p>
