<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/07/10/17206139846238.png" /></p>

<p><span><span><strong>일본에서만 할 수 있는 특별한 경험,<br />
오사카 스트리트 카트</strong></span></span></p>

<p>오사카에서 잊지 못할 추억을 만들고 싶다면? 지금 바로 독특한 캐릭터 의상을 입고 오사카&nbsp;시내를 질주할 수 있는 카트에 올라타보세요. 영어가 가능한&nbsp;가이드 드라이버와 함께 카트를 타고 울창한 건물 숲을 질주하면서 오사카의 랜드마크들도&nbsp;만날 수 있어요!</p>

<p>오사카 스트리트 카트는&nbsp;자동 변속기, 신호등 및 조절식 시트가 장착된 카트로,&nbsp;무려 60km의 속력을 낼 수 있어 국내의 카트와는 전혀 다른 경험을 제공해요! 이용 방법도 아주 간단해요! 먼저 원하는 캐릭터의 의상을 차려입은 후 카트를 타고 오사카 주요 명소를 둘러보면 끝!</p>

<p>&nbsp;</p>

<p><span><span><strong>이용 전 주의사항</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/10/26/16983030176610.JPG" /></p>

<p>스트리트 카트를 이용하기 전 주의사항이 있어요. 바로 국제 운전면허증이 없다면 이용할 수 없다는 점이에요! 예약을 진행하기 전 이 점 유의하여 주시기 바라고, 예약 후에는 출국 전까지 규정에 맞는 국제 운전면허증 발급을&nbsp;마치시는 거 잊지 마세요!</p>

<p>&nbsp;</p>

<p><span><span><strong>스트리트&nbsp;카트 옵션</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/07/09/17205077178532.jpg" /></p>

<p>✨ 블루투스 스피커 탑재</p>

<p>✨ 귀여운 코스튬 대여</p>

<p>✨ 리딩 가이드 (영어 가능)</p>

<p>&nbsp;</p>

<p><span><span><strong>오사카 코스 소개</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/11/03/16989725413404.JPG" /></p>

<p>📍 스트리트 카트 집합 장소 출발<br />
📍&nbsp;아메리카 무라<br />
📍 신사이바시<br />
📍 도톤보리<br />
📍 난바</p>
