<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/08/14/17551592208083.jpg" /></p>

<p><span><span><strong>최상급 재료로 만나는<br />
스시 오마카세</strong></span></span></p>

<p>최상급 신선한 재료만 사용하여 식사를 마친 후에도 긴 여운이 남는 스시도코로 나카타니에서 인생 오마카세를 경험해보세요.&nbsp;오사카 메트로 난바역에서 도보 5분, 긴테츠 닛폰바시역에서 도보 5분이라는&nbsp;뛰어난 접근성을 자랑해요!</p>

<p>내부 좌석이 단 8석뿐이어서 더욱 음식에 집중할 수 있으니 보다 특별한 식사를 완성하실 수 있을 거예요.</p>

<p>&nbsp;</p>

<p><span><span><strong>코스 메뉴 안내</strong></span></span></p>

<p data-sourcepos="3:1-3:10"><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/08/02/17225834298440.jpg" /></p>

<p data-sourcepos="3:1-3:10"><strong>오마카세 코스 </strong>(셰프가 당일 고객의 취향에 맞추어 코스 메뉴를 조정하여 제공합니다.)<br />
<strong>-&nbsp;</strong>초밥 및 사이드메뉴 포함 20종 제공</p>
