<p>&nbsp;<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/08/11/17548863433903.jpg" /></p>

<p><font color="#696969"><span><b>최상급 재료로 즐기는<br />
철판구이 전문점 &#39;히카리&#39;</b></span></font></p>

<p>엄선한 식재료로 최고의 철판구이 요리를 즐길 수 있는 오사카 난바의 히카리를 소개해요.&nbsp;</p>

<p>히카리는 난바역에서 도보 3분 거리에 있으며,&nbsp;철판구이 뿐만 아니라 바다의 여왕이라고 불리는 이세에비가 회로도 제공되어 이세에비를 다양하게 즐길 수 있다는 장점이 있어요. 이외에도 에피타이저부터 이세에비와 와규 소고기 철판구이, 그리고 마무리 디저트까지 알찬 구성으로 제공되니 기대 가득 하고 오셔도 좋아요!</p>

<p>구글 평점 4.7점을 자랑하는 오사카의 맛집&nbsp;히카리에서 눈앞에서 펼쳐지는 셰프들의 화려한 퍼포먼스와 함께 근사한 철판구이로 맛있는 식사를 즐겨 보시기 바라요!</p>

<p>&nbsp;</p>

<p><strong><span><span>선택 가능한 코스</span></span></strong></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/09/03/17253313116927.jpg" /></p>

<p><b>쿠로게 와규와 이세에비 철판구이 세트</b></p>

<p><b>디럭스 쿠로게 와규와 이세에비 철판구이 세트</b></p>

<p>* 에피타이저, 이세에비 회, 스프, 샐러드, 이세에비 철판구이, 와규 철판구이, 야채구이, 메인, 디저트, 커피 등이 제공되나 참고용이며, 변동될 수 있습니다.<br />
* 자세한 사항은 <a href="https://www.chunagon.com/hikari/">공식 홈페이지</a>를 참고해 주시기 바랍니다.</p>
