<p>&nbsp;<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/09/09/17258681937437.jpg" /></p>

<p><font color="#696969"><span><b>장인의 손길로 탄생하는<br />
오사카 스시 오마카세</b></span></font></p>

<p>가장 맛있는 제철 식재료를 사용하는 스시 무라카미 지로에서 진짜 스시 오마카세를 만나 보세요! 식재료가 가진 풍미를 최대한으로 살리는 셰프의 섬세함이 여러분의 식사를 더욱 즐겁게 만들어 줄 거예요.&nbsp;게다가 두 분 모두 영어로 소통이 가능하기 때문에 일본어를 몰라도 코스나 식재료에 대한&nbsp;소개, 먹는 방법&nbsp;등을 들을 수도 있어요.</p>

<p>추가로 스시와&nbsp;곁들이면 더욱 맛이 좋은 다양한 사케도 구비하고 있으니, 셰프에게 추천을 받아보시는 것도 좋은 선택이에요.</p>

<p>&nbsp;</p>

<p><strong><span><span>특별한 날&nbsp;오마카세</span></span></strong><br />
<br />
<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/09/09/17258688138114.jpg" /></p>

<p>특별한 날에 걸맞는 스시 무라카미 지로에서 근사한 식사시간을 보내보세요. 식사는 에피타이저부터 마무리까지 코스로 제공되며,&nbsp;다양한 식재료로 여러 요리를 맛볼 수 있어 특별한 날에 이용하기 좋아요. 메뉴는 당일 식재료에 따라 달라지는 점 참고해 주시기 바라요.</p>

<p>맛있는 요리뿐만 아니라 카운터석에 앉아 눈앞에서 셰프가 요리하는 모습을 바라보고 있으면 음식과 함께 특별한 추억까지 만들 수 있는 스시 무라카미 지로에서 맛있는 저녁 식사를 즐겨 보세요!</p>
