<p>&nbsp;<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/09/09/17258522722674.jpg" /></p>

<p><font color="#696969"><span><b>편안한 공간에서<br />
차분하게 즐기는 오마카세</b></span></font></p>

<p>오사카 니시텐마에 위치한 미슐랭 1스타 스시 오마카세 전문점&nbsp;스시로쿠는 2006년 오픈한 곳으로, 일본 정통 스시를 만나고 싶은 분들께 추천해 드려요. 재료 본연의 맛을 살리는 게 이곳의 특징으로 해산물뿐만 아니라 스시에 사용되는 채소나 소금, 설탕 등을 구입할 때에도 공을 들이고 있어 더욱 섬세함이 돋보이는 곳이에요.&nbsp;</p>

<p>스시와 함께 곁들이기 좋은 사케 또한 홋카이도와 나가사키 등, 일본 각지에서 공수하고 있다고 하니 함께 주문해서 즐겨 보시기 바라요.</p>

<p>&nbsp;</p>

<p><strong><span><span>선택 가능한 코스</span></span></strong></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/08/09/17547342270805.jpg" /></p>

<p><strong>셰프 오마카세 코스</strong><br />
- 에피타이저, 사시미 플레터, 스시 7종, 구이 요리, 된장국, 일본식 계란말이, 디저트 등</p>

<p>* 코스 메뉴는 참고용이며, 변동될 수 있습니다.<br />
* 레스토랑에 대한 자세한 사항은<a href="https://guide.michelin.com/jp/ja/osaka-region/osaka/restaurant/sushiroku">&nbsp;홈페이지</a>를 참고해 주시기 바랍니다.</p>
