<p>&nbsp;<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/09/09/17258460322114.jpg" /></p>

<p><span><span><b>전통 교토의 맛<br />
제철 식재료로 즐겨요</b></span></span></p>

<p>무려 300년의 역사를 이어온 미노키치에서 근사한 점심 또는 저녁 식사를 경험해 보세요. 제철 식재료만을 사용하여 최고의 식사 경험을 선사하는 미노키치는 일본 전국에 무려 15개 이상의 점포가&nbsp;있을 정도로 현지인들도 많이 찾아가는&nbsp;가이세키 레스토랑이에요.&nbsp;</p>

<p>교토에 위치한 미노키치 다케시게로 본점은 뛰어난 맛과 셰프의 실력을 인정 받았으나 미슐랭의 평가를 세 번이나 거부한 곳으로 유명해요. 오사카 미노키치 다케시게로 호텔 한큐 인터내셔널점은 교토 본점의 첫 직영점인 만큼 완벽한 교토 요리를 만나실 수 있을 거예요.</p>

<p>&nbsp;</p>

<p><strong><span><span>선택 가능한 코스</span></span></strong></p>

<p><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/08/12/17234475825721.png" /><br />
<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/09/09/17258468058627.jpg" /></strong></p>

<p><b>스페셜 장어덮밥 세트<br />
프리미엄 일식 코스<br />
디럭스 일식 코스</b></p>

<p>* 코스 메뉴는 참고용이며, 매장 재료 상황에 따라 변동될 수 있습니다.<br />
* 레스토랑에 관한 자세한 사항은 <a href="https://www.minokichi.co.jp/shops/02">공식 홈페이지</a>를 확인하여 주시기 바랍니다.</p>
