<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/10/15/17289786782122.png" /></p>

<p><span><span><strong>짜릿한 체험을 원한다면?<br />
츠텐카쿠 다이브앤워크</strong></span></span></p>

<p>오사카 여행에서 지금까지 경험하지 못했던 특별한 체험을 해보고 싶다면 츠텐카쿠 전망대의 다이브앤워크를 추천해 드려요. 안전을 최우선으로 생각하기 때문에 체험을 시작하기 전, 안전 장비 착용과 다국어로 된 안내문이 제공되니 안심하고 체험하실 수 있겠죠?</p>

<p>&nbsp;</p>

<p><span><span><strong>다이브 또는 워크!</strong></span></span></p>

<p><span><span><strong><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/10/15/17289785780004.png" /></strong></span></span><br />
<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/10/15/17289782976210.png" /></p>

<p>츠텐카쿠 전망대의 다이브앤워크는 두 가지 체험 중에 한 가지를 선택하여 이용하실 수 있어요.&nbsp;</p>

<p><strong>다이브</strong> : 약 40m 높이에서 수직으로 다이빙 하는 짜릿한 익스트림 스포츠예요. 허리가 좋지 않은 분은 체험에 참여할 수 없으니 주의해 주세요.</p>

<p><strong>워크</strong> : 중간 전망대에 마련되어 있는 공간에서 하네스를 착용하고 한 바퀴 도는 체험을 말해요.&nbsp;&nbsp;</p>

<p>&nbsp;</p>

<p><span><span><strong>츠텐카쿠 전망대 소개</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/07/05/17201678112142.jpeg" /><br />
<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/07/05/17201680084137.png" /><br />
<img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2024/07/05/17201681239508.png" /></p>

<p><strong>B1 와쿠와쿠 랜드 :</strong><br />
유명 식품 브랜드가 가득 입점해 있을 뿐만 아니라 이곳에서만 만날 수 있는 오리지널 굿즈, 오브제, 포토존이 있으니 찾아보는 재미가 있어요.&nbsp;</p>

<p><strong>1F 츠텐카쿠 입구 :&nbsp;</strong><br />
엘리베이터나 계단을 이용하여 전망대로 입장해주세요.</p>

<p><strong>2F 근육맨&nbsp;프로젝트 아카이브 코너 :</strong><br />
- 한국에서도 잘 알려져 있는 캐릭터, 근육맨 전시를 구경할 수 있어요! * 전시 내용은&nbsp;변동 될 수 있습니다.</p>

<p><strong>2F &amp; 3F 타워 슬라이더&nbsp;:</strong><br />
2층에서 3층으로 나선형 계단을 올라가면 새로운 체험형 어트랙션 타워 슬라이더를 볼 수 있어요!<br />
<br />
<strong>3F&nbsp;카페 드 루나 파크</strong><br />
카페 드 루나파크에서는 진한 맛의 소프트 아이스크림&nbsp;외에도 오사카의 명물 믹스주스와 오리지널 츠텐카쿠 파르페&nbsp;등도 판매하고 있어요.</p>

<p><strong>4F&nbsp;빛의 전망</strong><br />
밤이 되면 4층 빛의 전망대가 화려한 조명과 미러볼로&nbsp;디스코 풍&nbsp;전망대로 변신해요. 빛의 전망대에서는 각 방향에 어느 명소가 보이는지 일본어와 영어로 표기한 안내판이 있으니 꼭 찾아보기 바래요! 날씨가 좋으면 간사이 국제공항과 태양의 탑, 아카시&nbsp;대교까지 볼 수 있어요.&nbsp;</p>

<p><strong>5F&nbsp;황금 전망대</strong><br />
오사카 시내를 가장 훤히 내려다볼 수 있으며 발바닥을&nbsp;쓰다듬으면 복이 온다는 황금 빌리켄을 만날 수 있어요.</p>

<p>&gt; 전망대 입장권 <a href="https://www.waug.com/goods/123931">구입하러 가기</a>&nbsp;&lt;</p>
