<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/08/09/17547259803021.jpg" /></p>

<p><font color="#696969"><span><b>엄선한 와규로 즐기는<br />
철판요리 전문점</b></span></font></p>

<p>오사카 여행 중에 엄선한 와규는 물론, 제철을 맞이한 식재료를&nbsp;알맞게 구워&nbsp;제공하는&nbsp;철판요리 코스가 먹고싶다면 마호로바 텟판에 방문해 보세요. 육류 뿐만 아니라 채소, 해산물까지 다양하게 제공되니 다양하게 즐길 수 있어요.&nbsp;오사카 쇼핑의 성지인 다이마루 백화점이나 파르코 백화점과도 가깝기 때문에 쇼핑을 가기 전 또는 쇼핑을 마친 뒤에 방문하기도 좋다는 점! 이용에 참고해 주세요.</p>

<p>오후 12시부터 13시 30분까지 제공하는 런치 코스에서는 합리적인 금액으로 런치 코스를 이용할 수 있어요. 런치 코스에서는 돼지고기 스테이크인 톤테키 스테이크를 제공하며,&nbsp;달콤하면서도 톡 쏘는 소스를 입힌 부드러운 돼지고기와 갓 지은 밥, 된장국 그리고&nbsp;마무리 요거트&nbsp;아이스크림까지 포함되어 있으니&nbsp;든든하게 즐겨 보세요.</p>

<p>&nbsp;</p>

<p><span><span><strong>선택 가능한 코스</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/08/09/17547259958787.jpg" /></p>

<p><strong>런치</strong><br />
<strong>마호로바 톤테키 런치 코스</strong><br />
- 애피타이저 5종<br />
- 스프<br />
- 톤테키 돼지고기 스테이크<br />
- 밥, 된장국, 피클<br />
- 과일과 요거트 아이스크림<br />
- 음료 1잔 (청량음료, 하이볼, 츄하이, 맥주 또는 기타-사케,와인,샴페인 제외)</p>

<p><strong>마호로바 쿠로게 와규 함박&nbsp;코스</strong><br />
- 애피타이저 5종<br />
- 스프<br />
- 일본식 쿠로게 와규 함박<br />
- 밥, 된장국, 피클<br />
- 과일과 요거트 아이스크림<br />
- 음료 1잔 (청량음료, 하이볼, 츄하이, 맥주 또는 기타-사케,와인,샴페인 제외)</p>

<p><strong>런치 또는 디너</strong><br />
<strong>고쿠요 코스</strong><br />
- 일본 산초 고추를 곁들인 새우 빵<br />
- 크림 치즈와 파마산 치즈를 곁들인 철판구이&nbsp;<br />
- 트리플맛 쿠로게와규 우설 스튜<br />
- 숯불 해산물 구이<br />
- 쿠로게와규 등심 스테이크<br />
- 야채 3종 구이<br />
- 갈릭 라이스 / 치킨 라이스 / 오코노미야키 / 야키소바 중 한 가지 선택<br />
- 과일과 요거트 아이스크림<br />
- 음료 1잔 (청량음료, 하이볼, 츄하이, 맥주 또는 기타-사케,와인,샴페인 제외)</p>

<p><strong>미카게 코스</strong><br />
- 땅콩 두부<br />
- 일본 산초 고추를 곁들인 새우 빵<br />
- 일본 쿠로게 와규 한국식 육회<br />
- 스프<br />
- 조개와 죽순, 일본 산초 고추 잎을 넣은 소스<br />
- 야채 5종 구이<br />
- 쿠로게 와규 등심 스테이크<br />
- 갈릭 라이스 / 치킨 라이스 / 오코노미야키 / 야키소바 중 한 가지 선택&nbsp;<br />
- 과일과 프렌치 토스트<br />
- 음료 1잔 (청량음료, 하이볼, 츄하이, 맥주 또는 기타-사케,와인,샴페인 제외)</p>

<p><strong>히스이 코스</strong><br />
- 땅콩 두부<br />
- 일본 산초 고추를 곁들인 새우 빵<br />
- 일본 쿠로게 와규 한국식 육회<br />
- 스프<br />
- 전복<br />
- 베르무트 소스와 캐비어를 곁들인 랍스터<br />
- 쿠로게 와규 안심 (100g)<br />
- 야채 5종 구이<br />
- 갈릭 라이스 / 치킨 라이스 / 오코노미야키 / 야키소바 중 한 가지 선택&nbsp;<br />
- 과일과 프렌치 토스트<br />
- 음료 1잔 (청량음료, 하이볼, 츄하이, 맥주 또는 기타-사케,와인,샴페인 제외)</p>

<p><strong>쿠라마 코스</strong><br />
- 쿠로게 와규 립아이 한국식 육회<br />
- 스프<br />
- 쿠로게 와규 안심 스테이크 (250g)<br />
- 야채 3종 구이<br />
- 갓 지은 밥<br />
- 디저트<br />
- 음료 1잔 (청량음료, 하이볼, 츄하이, 맥주 또는 기타-사케,와인,샴페인 제외)</p>

<p><strong>메누 코스</strong><br />
- 쿠로게 와규 립아이 한국식 육회<br />
- 스프<br />
- 베르무트 소스와 캐비어를 곁들인 랍스터<br />
- 쿠로게 와규 안심 스테이크 (250g)<br />
- 야채 3종 구이<br />
- 갓 지은 밥<br />
- 디저트<br />
- 음료 1잔 (청량음료, 하이볼, 츄하이, 맥주 또는 기타-사케,와인,샴페인 제외)</p>

<p>*&nbsp;메뉴는 참고용이며 변동될 수 있습니다.<br />
* 레스토랑에 관한 자세한 사항은<a href="https://osaka.mahoroba-teppanyaki.com/"> </a><a href="https://www.ebisu-toraji.com/about/">공식 홈페이지</a>를 참고하여 주시기 바랍니다.</p>
