<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/31/16934483779333.png" /></p>

<p><font color="#696969"><span><b>고급스러운 분위기에서<br />
즐기는 식사</b></span></font></p>

<p>오사카, 도쿄, 나고야까지 지점이 있는 소문난 맛집, 미소카츠 야바톤!&nbsp;최고의 재료만 사용하기 때문에 극강의 맛을 자부하는 건 기본 중에 기본이에요. 특히 까다롭게 고집하는 식재료로 인해&nbsp;일본에서도 매우 인기를 끌고 있는 미소카츠 야바톤에서 인생 미소카츠를 경험해 보세요. 오사카 쇼치쿠좌점은 난바역에서 도보 4분이면 도착하기 때문에 오사카 여행 중에 방문하기 좋아요. 원하는 시간대와 메뉴를 예약하고 편하게 방문해 보시기 바라요!</p>

<p>&nbsp;</p>

<p><span><span><strong>미소카츠의 기원</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/31/16934501940051.png" /></p>

<p>예전의 포장마차에서 도테니(내장을 붉은 된장으로 양념한 뒤 삶은 요리)&nbsp;국물에 쿠시카츠(커틀릿 꼬치)를 찍어 먹던 것이 기원인 미소카츠! 처음엔 된장과 돈카츠의 조합이 생소할 수 있는데요, 나고야의 붉은 된장소스와&nbsp;부드러운 고기가&nbsp;절묘하게 어우러져 감칠맛을 더하기 때문에 많은 분이 미소카츠를&nbsp;다시 찾으시곤 해요!<br />
<br />
이제 일본의 필수 코스가 된 미소카츠! 일본에 오신다면 역사 깊은 미소카츠를 야바톤에서 꼭 드셔 보세요.</p>

<p>&nbsp;</p>

<p><span><span><strong>메뉴를 소개해요</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/31/16934494550796.jpg" /></p>

<p><strong>1. 프라이드 스테이크 임페리얼 디너 :</strong><br />
스테이크, 밥과 된장국, 밑반찬 2종, 김치와 소스 2종 (비법 된장 소스, 오리지널 소스, 암염, 허브 피망 소스)<br />
<br />
<strong>2. 흑돼지 안심 폭챱 임페리얼&nbsp;세트 :</strong><br />
흑돼지 안심 돈까스, 감자 샐러드, 밥과 된장국, 반찬 2종, 피클, 소스 2종 (비법 된장 소스, 오리지널 소스, 암염, 허브 피망 소스)</p>

<p><strong>3. 흑돼지 등심 로얄 세트&nbsp;</strong><br />
흑돼지 등심 돈까스, 감자 샐러드, 과 된장국, 반찬 2종, 피클, 소스 2종&nbsp;(비법 된장 소스, 오리지널 소스, 암염, 허브 피망 소스)</p>

<p><strong>4. 안심 돈까스, 새우튀김, 아스파라거스롤&nbsp;:&nbsp;</strong><br />
안심 돈까스, 새우튀김, 아스파라거스롤, 밥과 된장국, 반찬 2종, 피클</p>

<p><strong>5. 흑돼지&nbsp;임페리얼&nbsp;:</strong><br />
흑돼지 돈까스&nbsp;, 감자 샐러드, 밥과 된장국, 반찬 2종, 소스 2종&nbsp;(비법 된장 소스, 오리지널 소스, 암염, 허브 피망 소스)</p>
