<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/31/16934436057251.jpg" /></p>

<p><span><span><strong>독특한 유자 컨셉의 이자카야,<br />
난바 유즈노코마치</strong></span></span></p>

<p>이자카야 유즈노코마치가 제공하는 창의적인 요리는 모두 신선한 유자로 맛을 내며, 새롭고 상큼할 뿐만 아니라 건강하기 때문에 여러분께 지금껏 맛보지 못한 맛이에요.&nbsp;차별화된 재미와 따뜻하고 사적인 식사 환경으로 일본에서 매우 인기를 끌고 있는 이자카야에요.</p>

<p>여러 유명 인사들의 사인이 벽을 가득 채우고 있을 만큼 맛이 보장된&nbsp;맛집이랍니다. 룸 형식의 예약제로 운영되기 때문에 조용한 분위기에서 일행들과 식사를 즐기실 수 있어요. 또한 교통이 편리한 곳에 위치해 있어 접근성도 좋아요.</p>

<p><br />
<span><span><strong>프라이빗하게 룸에서 즐겨요!</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/31/16934436182477.jpg" /></p>

<p>이자카야 유즈노코마치는 룸에서 유자로 만든 술과 함께 다양한 요리를 즐길 수 있는 이자카야예요. 개별실에서 술을 즐길 수 있어 일본 현지인 커플들에게 큰 사랑을 받고 있어요.&nbsp;</p>

<p>&nbsp;</p>

<p><span><span><strong>요리와 주류를 무제한으로 즐겨요!</strong></span></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/08/31/16934436351250.jpg" /></p>

<p>꼬치구이, 튀김, 따뜻한 요리, 디저트, 각종 주류 등을 포함한 약 60여 가지의 일식 및 양식 종합 뷔페를 120분간 무제한으로 즐기실 수 있어요!</p>

<p><span><strong>1. 에피타이저</strong></span><br />
유자 두부<br />
유자 토란 절임<br />
유자 풍미 양파 소금 치킨<br />
유자 꿀 치즈<br />
유자 풍미 와사비 오징어 믹스<br />
유자 참깨 에다마메<br />
유자 파채</p>

<p><span><strong>2. 샐러드</strong></span><br />
연어 양상추와 유자 샐러드<br />
유자 껍질 무 샐러드<br />
시라스와 미역 샐러드<br />
수제 유자와 두부 샐러드</p>

<p><span><strong>3. 해산물</strong></span><br />
연어 &amp; 참치 사시미<br />
유자즙을 곁들인 연어<br />
특제 유자&nbsp;참치<br />
가다랑어 회<br />
유자즙을 곁들인&nbsp;연어 숯불 구이</p>

<p><span><strong>4. 꼬치 구이</strong></span><br />
유자 풍미 야키토리 모듬<br />
유자 풍미 구운 붕어<br />
유자 풍미 숯불구이 닭다리살<br />
흑후추 돼지삼겹 숯불구이<br />
숯불구이 생선<br />
가쓰오부시 구이<br />
그릴 소시지<br />
숯불구이 가오리 지느러미</p>

<p><span><strong>5. 튀김류</strong></span><br />
유자 오돌뼈 튀김<br />
유자 치킨 너겟<br />
유자 새우 마요네즈<br />
유자 두부 튀김<br />
유자 타코야키<br />
유자 노른자 튀김<br />
유자 가라아게<br />
유자 마요네즈 감자튀김<br />
유자 풍미 춘권 튀김</p>

<p><span><strong>6. 따뜻한 요리</strong></span><br />
유자 풍미 포크 슬라이스<br />
게살 오믈렛 팬케이크<br />
유자 버터 야키우동<br />
유자 고추 파스타<br />
베이컨 버섯 간장 파스타</p>

<p><span><strong>7. 밥류</strong></span><br />
유자 우엉 치킨라이스<br />
해산물 볶음밥<br />
유자 소스 야키토리 덮밥<br />
도미 풍미 오차즈케<br />
연어 오차즈케<br />
유자 고추 볶음밥</p>

<p><span><strong>8. 디저트</strong></span><br />
과일 크레페<br />
유자 아이스크림<br />
유자 아몬드 두부<br />
유자 견과류 아이스크림<br />
바닐라키위맛, 딸기맛 아이스크림</p>

<p>* 메뉴는 현지 재료&nbsp;공급 상황에 따라 다소 변경될 수 있습니다.</p>
