<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2023/09/19/16951073933439.png" /></p>

<p><span><strong>26시간&middot;48시간, 오사카 이동을 한 장으로 끝내요</strong></span><br />
<br />
유효 구간은 Osaka Metro 전 9노선(유메시마역 포함)이라 핵심 관광지 이동에 활용도가 높아요. 원하는 만큼 자유롭게 승하차하면서 동선을 유연하게 짤 수 있어요. 단, 이마자토 라이너는 이용 불가예요. 또한 한큐, 키타오사카큐코, 킨테츠 등 타사 노선에서는 사용할 수 없으니 노선 이용 전 꼭 확인해 주세요.&nbsp;여행 일정에 맞춰 26시간권 또는 48시간권 중 선택할 수 있어요. 짧고 밀도 있게 돌아보는 일정이면 26시간권, 이틀에 걸쳐 여유 있게 움직이면 48시간권이 잘 맞아요. 사용시간은 이용개시를 누른 시점부터 카운트돼요. 그래서 실제 이용일 당일에만 눌러야 하고, 이용개시 후에는 취소&middot;환불이 불가예요.</p>

<p><a href="https://subway.osakametro.co.jp/en/guide/page/waribiki_ichiran.php"><strong>바로가기</strong></a></p>

<p><br />
<span><strong>할인 여행지&nbsp;소개</strong></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2019/01/24/15483203526326.png" /></p>

<p>패스 이용 중에는 제휴 시설에서 QR코드 화면을 제시해 다양한 할인 혜택을 받을 수 있어요. 이동 패스와 할인 혜택을 같이 챙기면 체감 가성비가 확 올라가요.<br />
시설 휴업, 현장 사정으로 할인을 못 받는 경우가 있을 수 있어요. 이 경우 티켓 사용 후 할인 미적용을 이유로 환불은 불가하니 이용 전에 운영 여부를 확인해 주세요.</p>

<p><strong>10% 할인 가능한 주요 여행지 :</strong><br />
오사카성 천수각, 우메다 스카이빌딩 공중정원 전망대, 오사카 덴노지 동물원, 시텐노지 절, 키즈플라자 오사카, 스파월드, 아쿠아라이너, 나가이 식물원코노하나 칸 사쿠야 등</p>

<p><strong>20% 할인 가능한 주요 여행지 :</strong><br />
오사카 과학관, 덴포잔 대관람차, 오사카 수상버스, 오사카 동양도자기 미술관, 캡틴라인, 오사카성 니시노마루 정원 등</p>

<p>더 자세한 할인 여행지를 직접 확인해보세요. <a href="https://subway.osakametro.co.jp/en/guide/page/waribiki_ichiran.php">바로가기</a></p>

<p>&nbsp;</p>

<p><span><strong>오사카 메트로 노선도 안내</strong></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/05/14/17472108802446.jpg" /></p>

<p>오사카 메트로의 노선도에요. <a href="https://subway.osakametro.co.jp/guide/page/osakametro_routemap_d/routemap_2025.pdf">노선도 자세히 보기</a><br />
오사카 시티버스의 노선도는 <a href="https://bus.osakametro.co.jp/ko/guide/routemap.php">공식 홈페이지</a>에서 확인할 수 있어요.</p>
