<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/03/07/17413249610360.jpg" /></p>

<p><span><strong>10초 동안 짜릿하게! 츠텐카쿠 타워 슬라이더</strong></span></p>

<p data-end="171" data-start="0">총 길이 60m의 나선형 슬라이드, 타워 슬라이더는 스릴을 좋아하는 분들께 딱 맞는 어트랙션이에요! 타워 슬라이더의 최대 속도 약 27km/h로 약 10초 만에 지하 1층까지 순식간에 내려가며 짜릿한 속도감을 느낄 수 있어요.게다가 슬라이드 내부에는 다양한 색상의 조명이 설치되어 있어 마치 마치 빛의 터널을 통과하는 듯한 특별한 분위기를 연출해요. 짜릿한 속도감은 물론, 시각적으로도 즐거움을 주는 타워 슬라이더로 츠텐카쿠 전망대에서 잊지 못할 짜릿한 추억을 만들어 보세요!</p>

<p data-end="171" data-start="0">&nbsp;</p>

<p data-end="171" data-start="0"><span><strong>츠텐카쿠 타워 슬라이더의 매력 포인트</strong></span></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/03/07/17413430349375.png" /></p>

<p><img alt="" src="https://d2mgzmtdeipcjp.cloudfront.net/files/good_contents/2025/03/07/17413430495915.png" /></p>

<ul data-end="965" data-start="56">
	<li data-end="150" data-start="56">
	<p data-end="150" data-start="62">&nbsp;지상 22m 높이의 중간 전망대 3층에서 출발해 지하 1층까지 약 10초 만에 내려가요&nbsp;</p>
	</li>
	<li data-end="241" data-start="151">
	<p data-end="241" data-start="157">&nbsp;전 구간 길이 60m, 경사 약 30도의 나선형 슬라이드라 체감 스릴이 확실해요&nbsp;</p>
	</li>
	<li data-end="333" data-start="242">
	<p data-end="333" data-start="248">&nbsp;EV 타워 외곽을 1.5바퀴 돌며 내려가는 구조라 속도감에 회전 재미까지 더해져요&nbsp;</p>
	</li>
	<li data-end="427" data-start="334">
	<p data-end="427" data-start="340">&nbsp;튜브 형태라 안전하게 즐기면서도, 위를 올려다보면 통천각을 보며 슬라이딩할 수 있어요&nbsp;</p>
	</li>
	<li data-end="510" data-start="428">
	<p data-end="510" data-start="434">&nbsp;스카이라인 조명 연출로 낮과 밤 분위기가 달라서 또 타고 싶어져요</p>
	</li>
	<li data-end="595" data-start="511">
	<p data-end="595" data-start="517">&nbsp;슬라이더 단독 이용도 가능해서 전망대는 이미 가본 사람에게도 새로워요&nbsp;</p>
	</li>
	<li data-end="683" data-start="596">
	<p data-end="683" data-start="602">&nbsp;헬멧 착용 및 슬라이딩용 슬라이드백(滑走袋) 사용으로 안전 규정이 명확해요&nbsp;</p>
	</li>
	<li data-end="771" data-start="684">
	<p data-end="771" data-start="690">&nbsp;7세~65세, 키 120cm 이상, 체중 120kg 미만이면 탑승 가능해요&nbsp;</p>
	</li>
	<li data-end="873" data-start="772">
	<p data-end="873" data-start="778">&nbsp;1층 티켓 카운터에서 접수하고, 시간 예약 후 지하 1층 게이트로 입장하는 방식이라 동선이 깔끔해요</p>
	</li>
	<li data-end="965" data-start="874">
	<p data-end="965" data-start="880">&nbsp;입장 게이트부터 출구까지는 약 30분 정도로 안내돼서 여행 일정에 넣기 좋아요</p>
	</li>
</ul>
